//布局-卡片-页头-内间距
$f-pt-card-header-inner-gutter:0.75rem 1.375rem !default;

//section 内边距 一级结构 二级结构相同
$f-pt-card-section-inner-gutter:0.875rem 0.875rem!default;
//main主体区域外边距 s 8px m 10px
$f-pt-split-section-outer-gutter:0.5rem!default;
//筛选方案与筛选表单间距
$f-pt-scheme-form-bottom-gutter:0.75rem!default;
//布局-卡片-一级信息结构-内间距
$f-pt-card-one-section-inner-gutter:0.875rem !default;
//布局-卡片-一级信息结构-外间距 s 8px m 10px
$f-pt-card-one-section-outer-gutter:0.5rem !default;

//布局-分割线-相同模块组件(筛选区-列表 和 前置条件-内容区)-下-间距 s 14px m 16px
$f-pt-cutoff-samemodule-bottom-gutter:0.875rem !default;

//组件-页头-标题icon-右-间距
$f-el-header-title-icon-right-gutter:0.75rem !default;

//组件-表单-单标题-展开收起(文字与箭头)-右-间距 s 4px m 6px
$f-el-form-title-arrow-right-gutter:0.25rem !default;
//组件-表单-单标题-input之间-上下-间距 s 6px m 12px
$f-el-form-title-input-top-bottom-gutter:0.375rem !default;

//组件-表单-tabs页签(与不带分组标题的表单之间)-下-间距 s 12px m 14px
//$f-el-form-tabs-bottom-gutter:0.75rem !default;
//tabs 下面与grid之间间距 s 8px m 10px
$f-el-form-tabs-grid-bottom-gutter:0.5rem !default;
//tabs 下面与form之间间距 s 12px m 14px
$f-el-form-tabs-form-bottom-gutter:0.75rem !default;

//按钮 用padding来撑开高度 s 2px m 3px/0.1875rem
$f-btn-padding-y:0.125rem !default;
// $f-btn-padding-y:0.1875rem !default;

//分页 按钮大小 用padding来区分大小 s 4px m 5px
$f-pagination-padding-y:0.25rem !default;

//input输入框/select选择 s 2px m 3px/0.1875rem
$f-input-btn-padding-y: 0.125rem !default;
//$f-input-btn-padding-y: 0.1875rem !default;

//下拉按钮dropdown s 4px m 6px
$f-dropdown-item-padding-y: 0.25rem !default;

//btn-group 文字按钮之间间距 s 12px m 14px
$f-btn-group-gutter-y:0.75rem;

//tabs标签页 s 10 13 m 14 16
$f-tabs-nav-link-inner-gutter-y:0.625rem!default;
$f-tabs-nav-link-inner-gutter-x:0.8125rem!default;
//tabs标签页 面板式 padding-y s 7px m 9px
$f-tabs-panel-nav-link-inner-gutter-y:0.4375rem!default;

//表格
//表格表头高度 s 34 m 42
$f-grid-header-cell-height:2.125rem !default;
// $f-grid-header-cell-height:2.625rem !default;
//表格内容高度 s 28 m 36
$f-grid-body-cell-height:1.75rem !default;
$f-grid-body-cell-height-px:28px !default;
// $f-grid-body-cell-height:2.25rem !default;
// $f-grid-body-cell-height-px:36px !default;

//表格y方向padding值 s 4px m 8px 
$f-grid-cell-padding-y:0.25rem !default;
//$f-grid-cell-padding-y:0.5rem;
//表格表头y方向 padding值 s 7px m 11px
$f-grid-header-cell-padding-y:0.4375rem !default;
//$f-grid-header-cell-padding-y:0.6875rem;
//表格编辑态下 padding高度变化 s 1px m 4px
$f-grid-cell-edit-padding-y:1px !default;
//表格表头竖线高度 s 16 m 20
$f-grid-header-cell-line-height:1rem!default;



//switch开关 s 40*22 m 44*24
$f-k-switch-size:2.5rem !default;
$f-k-switch-size-y:1.375rem !default;
//$f-k-switch-size:2.75rem !default;
//switch开关 外部 s 36 m 40
$f-k-switch-border-radius: 2.25rem !default;
//$f-k-switch-border-radius: 2.5rem !default;
//switch开关 圆形部分大小 s 18 m 20
$f-k-switch-handle-size:1.125rem !default;
//$f-k-switch-handle-size:1.25rem !default;

//输入控件 label距离下面输入框距离 s 6px m 8px
$f-input-label-bottom:0.375rem!default;

//手风琴 标题部分 padding-y s 9px m 14px
$f-panel-bar-header-padding-y:0.5265rem!default;


//穿梭框中sm版区别
//s 5px m 8 
$f-multi-select-title-padding-y: 0.3125rem!default;
// s 4 m 6
$f-multi-select-list-item-padding-y:0.25rem!default;

//多选列表 s 4 m 6
$f-combo-list-item-padding-y:0.25rem !default;

//布局-卡片-二级信息结构-右主从表-内间距
//$f-pt-card-second-section-right-subform-inner-gutter:0.875rem !default;
//布局-卡片-二级信息结构-右主从表-主卡-外间距
//$f-pt-card-second-section-right-subform-maincard-outer-gutter:0.5rem 0 !default;
//布局-卡片-二级信息结构-右主从表-从表-外间距
//$f-pt-card-second-section-right-subform-subform-outer-gutter:0.25rem 0.5rem 0.5rem 0 !default;
//布局-卡片-二级信息结构-主从从表-内间距
//$f-pt-card-second-section-mainsubcard-inner-gutter:0.875rem !default;
//布局-卡片-二级信息结构-主从从表-从表-外间距
//$f-pt-card-second-section-mainsubcard-subform-outer-gutter:0.5rem 0.875rem 0.25rem 0.875rem !default; 
//布局-卡片-二级信息结构-主从从表-从从表-外间距
//$f-pt-card-second-section-mainsubcard-sub-subform-outer-gutter:0 0.875rem 0.625rem 0.875rem !default;
//布局-卡片-展示信息-列卡(树卡)-左卡-内间距
//$f-pt-card-show-message-listcard-left-inner-gutter:0.875rem !default;
//布局-卡片-展示信息-列卡(树卡)-右卡-内间距
//$f-pt-card-show-message-listcard-right-inner-gutter:0.875rem !default;
//布局-卡片-展示信息-列卡(树卡)-左卡-外间距
//$f-pt-card-show-message-listcard-left-outer-gutter:0.5rem 0 0.5rem 0.5rem !default;
//布局-卡片-展示信息-列卡(树卡)-右卡-外间距
//$f-pt-card-show-message-listcard-right-outer-gutter:0.5rem 0.5rem 0.5rem 0 !default;
//布局-卡片-展示信息-树列-左卡-内间距
//$f-pt-card-show-message-treelist-left-inner-gutter:0.875rem !default;
//布局-卡片-展示信息-数列-右卡-内间距
//$f-pt-card-show-message-treelist-right-inner-gutter:0.875rem !default;
//布局-卡片-展示信息-数列-左卡-外间距
//$f-pt-card-show-message-treelist-left-outer-gutter:0.5rem 0 0.5rem 0.5rem !default;
//布局-卡片-展示信息-数列-右卡-外间距
//$f-pt-card-show-message-treelist-right-outer-gutter:0.5rem 0.5rem 0.5rem 0 !default;

//布局-分割线-相同模块组件(筛选区-列表 和 前置条件-内容区)-上-间距
//$f-pt-cutoff-samemodule-top-gutter:0.875rem !default;



//布局-分割线-标题和内容(列卡，树卡)-上-间距
//$f-pt-cutoff-title-content-top-gutter:0.5rem !default;
//布局-分割线-标题和内容(列卡，树卡)-下-间距 ？
//$f-pt-cutoff-title-content-bottom-gutter:1.125rem !default;
//布局-分割线-元素垂直(列表工具-文字+图标按钮)-左-间距
//$f-pt-cutoff-element-left-gutter:0.625rem !default;
//布局-分割线-元素垂直(列表工具-文字+图标按钮)-右-间距
//$f-pt-cutoff-element-right-gutter:0.625rem !default;


//组件-页头-按钮-左-间距
//$f-el-header-btn-left-gutter:0.875rem !default;
//组件-页头-按钮-之间-间距
//$f-el-header-btn-in-gutter:0.375rem !default;

//组件-筛选区-筛选方案-下-边距
//$f-el-filter-scheme-bottom-gutter:0.75rem !default;
//组件-筛选区-展开收起(文字与箭头)-之间-间距
//$f-el-filter-arrow-in-gutter:0.25rem !default;
//组件-筛选区-筛选项-之间-间距
//$f-el-filter-item-in-gutter:0.875rem !default;

//组件-表单-单标题-icon与文字-右-间距
//$f-el-form-title-icon-right-gutter:0.875rem !default;

//组件-表单-单标题-标题与内容-下-间距
//$f-el-form-title-title-content-bottom-gutter:0.75rem !default;

//组件-表单-单标题-input之间-左右-间距
//$f-el-form-title-input-left-right-gutter:0.75rem !default;

//组件-表单-折叠面板-标题-上下-间距
//$f-el-form-panel-title-top-bottom-gutter:0.5625rem !default;
//组件-表单-折叠面板-标题-左-间距
//$f-el-form-panel-title-left-gutter:0.75rem !default;
//组件-表单-折叠面板-内容-内间距
//$f-el-form-panel-content-inner-gutter:0.75rem !default;
//组件-表单-折叠面板-分组标题-外间距
//$f-el-form-panel-group-outer-gutter:0.5625rem 0.25rem 0.75rem 0.875rem !default;



//组件-表格-单标题-标题icon与文字-右-间距
//$f-el-table-title-icon-right-gutter:0.875rem !default;
//组件-表格-单标题-标题与内容-下-间距
//$f-el-table-title-title-content-bottom-gutter:0.5rem !default;
//组件-表格-单标题-表格与分页器-下-间距
//$f-el-table-title-table-page-bottom-gutter:0.75rem !default;

//组件-表格-tabs页签-下-间距
//$f-el-table-tabs-bottom-gutter:0.5rem !default;