<!--页面模板  是导航页面  是列表导航 -->
<div class="f-page f-page-navigate f-page-is-listnav">
  <div class="f-page-main">
    <!--扩展页面主内容区-->
    <!-- <div class="f-page-main-extend">
        <div class="text-center f-utils-flex-row">
          <h2 class="m-auto text-center">表单标题</h2>
          <div class="btn-group">
            <button class="btn btn-link">操作按钮</button
            ><button class="btn btn-link">操作按钮</button>
          </div>
        </div>
      </div> -->
    <div class="f-page-content">
      <!------------------------------------------------新导航组件-->
      <farris-list-nav
        class="f-page-content-nav"
        (navStateChange)="navStateChange($event)"
        [listNavWidth]="240"
        [title]="'业务支付申请来源'"
      >
        <ng-template listNavContent>
          <farris-list-view
            [data]="listnavData"
            listidName="id"
            (listClick)="listClick($event)"
          >
            <ng-template listTemplate let-item="item">
              <div class="f-template-listnav-row">
                <a
                  class="list-nav-link"
                  [ngClass]="{ active: item.id == '11' }"
                  [title]="item.name"
                >
                  <span class="nav-item-name">
                    {{ item.name }}
                  </span>
                  <span class="nav-item-counter" *ngIf="item.unreadnumber > 0">
                    {{ item.unreadnumber }}
                  </span>
                </a>
              </div>
            </ng-template>
          </farris-list-view>
        </ng-template>
      </farris-list-nav>

      <section class="f-page-content-main">
        <!-- 完整独立页面结构-->
        <!-- <manage-list-scheme></manage-list-scheme> -->
        <!--页面模板 是管理列表-->
        <div class="f-page f-page-is-managelist  f-page-has-scheme">
          <!--方案区域-->
          <farris-section
            class="f-section-scheme f-section-in-managelist"
            [showHeader]="false"
          >
            <!------未引入真正的方案组件-------------------假定这个是方案组件---------------------------->
            <npt-common-scheme></npt-common-scheme>
          </farris-section>
          <div class="f-page-header">
            <nav class="f-page-header-base">
              <div class="f-title">
                <span class="f-title-icon f-text-orna-manage">
                  <i class="f-icon f-icon-page-title-administer"></i>
                </span>
                <h4 class="f-title-text">管理列表</h4>
                <h5 class="f-title-subtitle">编号：YWZF201805020003</h5>
                <div class="f-title-status">
                  <span class="badge badge-success">审批通过</span>
                </div>
                <div class="f-title-pagination">
                  <span class="f-icon f-icon-arrow-w f-state-disabled"></span>
                  <span class="f-icon f-icon-arrow-e"></span>
                </div>
              </div>
              <div class="f-content"></div>
              <f-response-toolbar
                class="col-7 f-toolbar"
                [datas]="toolbarData"
                (rtClickEvent)="responseToolbarClick($event)"
              ></f-response-toolbar>
            </nav>
          </div>
          <div class="f-page-main">
            <!--Section 组件-->
            <farris-section class="f-section-grid f-section-in-managelist">
              <ng-template farrisSectionTitle>
                <h4 class="f-title-text">销售订单列表</h4>
                <div class="f-title-subtitle">(20)</div>
              </ng-template>
              <ng-template farrisSectionExtend>
                <div class="f-section-extend-gridfilter">
                  <span><i class="f-icon f-icon-info"></i></span>
                  <p>已选择 <span class="text-info">2</span> 项</p>
                  <p>支付申请总计：36.4 万</p>
                  <button class="btn btn-link">清空</button>
                </div>
              </ng-template>
              <farris-datagrid
                class="f-component-grid"
                [columns]="columns"
                [data]="orderListData"
                #dg="datagrid"
                [idField]="'DDBH'"
                [showLineNumber]="true"
                [fitColumns]="false"
                [total]="total"
                [striped]="false"
                [showCheckbox]="false"
                [virtualized]="true"
                [pagination]="false"
                [fit]="true"
              >
                <ng-template #cell1 let-ctx>
                  <button class="btn btn-secondary">操作</button>
                </ng-template>
                <ng-template #cell2 let-ctx>
                  <div class="text-center">
                    <span class="f-icon f-icon-flag_urgent text-warning"></span>
                  </div>
                </ng-template>
                <ng-template #cell3 let-ctx>
                  <span class="f-pretend-link mr-2">{{
                    ctx.rowData['DDBH']
                  }}</span>
                  <span [class]="getBadgeCls(ctx.rowIndex)">通过</span>
                </ng-template>
              </farris-datagrid>
            </farris-section>
          </div>
        </div>
      </section>
    </div>
  </div>

  <!-- <footer class="f-page-footer">
    Page-尾部区域
  </footer> -->
</div>
