.f-component-text {
  display: block;
  width: 100%;
  overflow: hidden;
}
.f-form-control-text {
  height: $input-height;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
}
// 默认的 Textarea高度是显示两行加间距
.f-form-control-textarea {
  height: calc(#{$input-height} + #{$input-line-height * $font-size-base});
  overflow-y:auto;
}
.f-form-control-text,
.f-form-control-textarea {
  display: block;
  padding: $input-padding-y $input-padding-x;
  font-size: $font-size-base;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid transparent;
  border-bottom-color:$farris-input-readonly-border-color;
  // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  @if $enable-rounded {
    // Manually use the if/else instead of the mixin to account for iOS override
    border-radius: $input-border-radius;
  } @else {
    // Otherwise undo the iOS default
    border-radius: 0;
  }
}
// 静态文本前面的标签文本是灰色
.f-state-view {
  .form-group {
    .farris-label-text {
      color: $farris-input-viewstate-label-color;
    }
  }
}