<h4 class=" m-3">输入控件</h4>
<div class="row farris-split-section m-3 py-3 flex-wrap">
  <div class="col-12 col-md-6">
    <h5>普通控件</h5>
    <div class="form-row farris-form" [ngClass]="horizontalCls">
      <div class="col-6" [ngClass]="inputCls">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">账号</span>
            </label>
            <div class="farris-input-wrap">
              <input
                type="input"
                class="form-control"
                id="hpinput01"
                value="Ximena"
              />
              <div class="farris-feedback valid-feedback">
                设置符合规则
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6" [ngClass]="inputCls">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-text">备注</span>
              <span class="farris-label-info text-muted">提示信息</span>
            </label>
            <div class="farris-input-wrap">
              <input
                type="input"
                class="form-control"
                id="hpinput01"
                value="Ximena"
              />
              <div class="farris-feedback valid-feedback">
                设置符合规则
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <h5>禁用</h5>
    <div class="form-row farris-form" [ngClass]="horizontalCls">
      <div class="col-6" [ngClass]="inputCls">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">账号</span>
            </label>
            <div class="farris-input-wrap">
              <input
                type="input"
                class="form-control"
                id="hpinput01"
                value="Ximena"
                disabled
              />
              <div class="farris-feedback valid-feedback">
                设置符合规则
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6" [ngClass]="inputCls">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-text">备注</span>
              <span class="farris-label-info text-muted">提示信息</span>
            </label>
            <div class="farris-input-wrap">
              <input
                type="input"
                class="form-control"
                id="hpinput01"
                value="Ximena"
                disabled
              />
              <div class="farris-feedback valid-feedback">
                设置符合规则
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <h5>只读</h5>
    <div class="form-row farris-form" [ngClass]="horizontalCls">
      <div class="col-6" [ngClass]="inputCls">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">账号</span>
            </label>
            <div class="farris-input-wrap">
              <input
                type="input"
                class="form-control"
                id="hpinput01"
                value="Ximena"
                readonly
              />
              <div class="farris-feedback valid-feedback">
                设置符合规则
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6" [ngClass]="inputCls">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-text">备注</span>
              <span class="farris-label-info text-muted">提示信息</span>
            </label>
            <div class="farris-input-wrap">
              <input
                type="input"
                class="form-control"
                id="hpinput01"
                value="Ximena"
                readonly
              />
              <div class="farris-feedback valid-feedback">
                设置符合规则
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <h5>验证信息</h5>
    <div class="form-row farris-form" [ngClass]="horizontalCls">
      <div class="col-6" [ngClass]="inputCls">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">账号</span>
            </label>
            <div class="farris-input-wrap">
              <input
                type="input"
                class="form-control is-valid"
                id="hpinput01"
                value="Ximena"
                readonly
              />
              <!-- <div class="farris-feedback valid-feedback">
                设置符合规则
              </div> -->
              <div class="farris-feedback f-state-valid">
                <span class="f-feedback-message">设置符合规则</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6" [ngClass]="inputCls">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-text">备注</span>
              <span class="farris-label-info text-muted">提示信息</span>
            </label>
            <div class="farris-input-wrap">
              <input
                type="input"
                class="form-control form-control-invalid"
                id="hpinput01"
                value="Ximena"
                readonly
              />
              <!-- <div class="farris-feedback invalid-feedback">
                设置符合规则
              </div> -->
              <div class="farris-feedback f-state-invalid">
                <span class="f-feedback-message">请输入有效格式</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-12 col-md-6">
    <h5>横向</h5>
    <div class="form-row farris-form"  [ngClass]="horizontalCls">
      <div class="col-12"  [ngClass]="inputCls">
        <div class="farris-group-wrap form-inline farris-form-inline">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-text">账号</span>
              <span class="farris-label-info text-danger">*</span>
            </label>
            <div class="farris-input-wrap">
              <input
                type="input"
                class="form-control"
                id="hpinput01"
                value="Ximena"
              />
              <div class="farris-feedback valid-feedback">
                设置符合规则
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12"  [ngClass]="inputCls">
        <div class="farris-group-wrap form-inline farris-form-inline">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-text">备注</span>
              <span class="farris-label-info text-muted">提示信息</span>
            </label>
            <div class="farris-input-wrap">
              <input
                type="input"
                class="form-control"
                id="hpinput01"
                value="Ximena"
              />
              <div class="farris-feedback valid-feedback">
                设置符合规则
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <h5>横向带验证信息</h5>
    <div class="form-row farris-form"  [ngClass]="horizontalCls">
      <div class="col-12"  [ngClass]="inputCls">
        <div class="farris-group-wrap form-inline farris-form-inline">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-text">账号</span>
              <span class="farris-label-info text-danger">*</span>
            </label>
            <div class="farris-input-wrap">
              <input
                type="input"
                class="form-control is-valid"
                id="hpinput01"
                value="Ximena"
                readonly
              />
              <div class="farris-feedback valid-feedback">
                设置符合规则
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12"  [ngClass]="inputCls">
        <div class="farris-group-wrap form-inline farris-form-inline">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-text">备注</span>
              <span class="farris-label-info text-muted">提示信息</span>
            </label>
            <div class="farris-input-wrap">
              <input
                type="input"
                class="form-control is-invalid"
                id="hpinput01"
                value="Ximena"
                readonly
              />
              <div class="farris-feedback invalid-feedback">
                设置符合规则
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
<h4 class=" m-3">静态文本</h4>
<p class="mx-3">
  可以整体控制静态文本前的标签样式，在form上追加class
  <code>f-state-form-view</code
  >。也可以在单独控制标签样式，在输入控件所在列层级上追加class
  <code>f-state-view</code>
</p>
<div class="farris-split-section mx-3 p-3">
  <h5>整体控制</h5>
  <form
    class="f-utils-flex-row-wrap farris-form  f-state-form-view"
    [ngClass]="horizontalCls"
    [formGroup]="formGroup"
  >
    <div class="col-12 col-md-4 col-lg-4">
      <div class="farris-group-wrap">
        <div class="form-group farris-form-group">
          <label for="hpinput01" class="col-form-label">
            <span class="farris-label-info text-danger">*</span>
            <span class="farris-label-text">静态文本</span>
          </label>
          <div class="farris-input-wrap">
            <farris-text formControlName="name" [type]="'string'"></farris-text>
            <div class="farris-feedback valid-feedback"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div class="farris-group-wrap">
        <div class="form-group farris-form-group">
          <label for="hpinput01" class="col-form-label">
            <span class="farris-label-info text-danger">*</span>
            <span class="farris-label-text">静态文本</span>
          </label>
          <div class="farris-input-wrap">
            <farris-text
              formControlName="dates"
              [type]="'date'"
              [format]="'YYYY年M月D日'"
            ></farris-text>
            <div class="farris-feedback valid-feedback"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div class="farris-group-wrap">
        <div class="form-group farris-form-group">
          <label for="hpinput01" class="col-form-label">
            <span class="farris-label-info text-danger">*</span>
            <span class="farris-label-text">账号</span>
          </label>
          <div class="farris-input-wrap">
            <input
              type="input"
              class="form-control"
              id="hpinput01"
              value="Ximena"
            />
            <div class="farris-feedback valid-feedback">
              设置符合规则
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div class="farris-group-wrap">
        <div class="form-group farris-form-group">
          <label for="hpinput01" class="col-form-label">
            <span class="farris-label-text">静态文本</span>

            <span class="farris-label-info text-danger">*</span>
          </label>
          <div class="farris-input-wrap">
            <farris-text
              formControlName="description"
              [type]="'string'"
              [isTextArea]="true"
            ></farris-text>
            <div class="farris-feedback valid-feedback"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div class="farris-group-wrap">
        <div class="form-group farris-form-group">
          <label for="hpinput01" class="col-form-label">
            <span class="farris-label-info text-danger">*</span>
            <span class="farris-label-text">静态文本</span>
          </label>
          <div class="farris-input-wrap">
            <textarea
              class="form-control"
              formControlName="description"
            ></textarea>
            <div class="farris-feedback valid-feedback"></div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <h5>单独控制</h5>
  <form
    class="f-utils-flex-row-wrap farris-form  f-state-view"
    [ngClass]="horizontalCls"
    [formGroup]="formGroup"
  >
    <div class="col-12 col-md-4 col-lg-4 f-state-view">
      <div class="farris-group-wrap">
        <div class="form-group farris-form-group">
          <label for="hpinput01" class="col-form-label">
            <span class="farris-label-info text-danger">*</span>
            <span class="farris-label-text">静态文本</span>
          </label>
          <div class="farris-input-wrap">
            <farris-text formControlName="name" [type]="'string'"></farris-text>
            <div class="farris-feedback valid-feedback"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div class="farris-group-wrap f-state-view">
        <div class="form-group farris-form-group">
          <label for="hpinput01" class="col-form-label">
            <span class="farris-label-info text-danger">*</span>
            <span class="farris-label-text">静态文本</span>
          </label>
          <div class="farris-input-wrap">
            <farris-text
              formControlName="dates"
              [type]="'date'"
              [format]="'YYYY年M月D日'"
            ></farris-text>
            <div class="farris-feedback valid-feedback"></div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<code-show
  class="mx-3 d-block"
  [path]="getPath('static-text')"
  [show]="showCodeArea"
></code-show>

<h4 class="m-3">帮助控件</h4>
<div class="row farris-split-section m-3 py-3 flex-wrap">
  <div class="col-12 col-md-6">
    <h5>普通状态</h5>
    <div class="form-row farris-form" [ngClass]="horizontalCls">
      <div class="col-6" [ngClass]="inputCls">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">Grid帮助</span>
            </label>
            <div class="farris-input-wrap">
              <farris-lookup-grid
                class="f-cmp-inputgroup"
                name="userName23"
                [(ngModel)]="item232"
                [uri]="'assets/json/products.json'"
                [idField]="'Code'"
                [pageSize]="20"
                [pageIndex]="1"
                [pagination]="true"
                [singleSelect]="false"
                [textField]="'Name'"
                [title]="'多选选帮助'"
                [valueField]="'Code'"
              ></farris-lookup-grid>
              <div class="farris-feedback valid-feedback">
                设置符合规则
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6" [ngClass]="inputCls">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">账号</span>
            </label>
            <div class="farris-input-wrap">
              <farris-lookup
                class="f-cmp-inputgroup"
                [(ngModel)]="lookupvalue"
                name="test"
                [showButtons]="false"
                [title]="'自定义表单'"
              >
                <div style="padding: 30px">
                  此处自定义内容
                </div>
              </farris-lookup>
              <div class="farris-feedback valid-feedback">
                设置符合规则
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <h5>禁用</h5>
    <div class="form-row farris-form" [ngClass]="horizontalCls">
      <div class="col-6" [ngClass]="inputCls">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">Grid帮助</span>
            </label>
            <div class="farris-input-wrap">
              <farris-lookup-grid
                class="f-cmp-inputgroup"
                name="userName23"
                [disabled]="true"
                [(ngModel)]="item232"
                [uri]="'assets/json/products.json'"
                [idField]="'Code'"
                [pageSize]="20"
                [pageIndex]="1"
                [pagination]="true"
                [singleSelect]="false"
                [textField]="'Name'"
                [title]="'多选选帮助'"
                [valueField]="'Code'"
              ></farris-lookup-grid>
              <div class="farris-feedback valid-feedback">
                设置符合规则
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" [ngClass]="inputCls">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">账号</span>
            </label>
            <div class="farris-input-wrap">
              <farris-lookup
                class="f-cmp-inputgroup"
                [disabled]="true"
                [(ngModel)]="lookupvalue"
                name="test"
                [showButtons]="false"
                [title]="'自定义表单'"
              >
                <div style="padding: 30px">
                  此处自定义内容
                </div>
              </farris-lookup>
              <div class="farris-feedback valid-feedback">
                设置符合规则
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <h5>只读</h5>
    <div class="form-row farris-form" [ngClass]="horizontalCls">
      <div class="col-6" [ngClass]="inputCls">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">Grid帮助</span>
            </label>
            <div class="farris-input-wrap">
              <farris-lookup-grid
                class="f-cmp-inputgroup"
                name="userName23"
                [readonly]="true"
                [(ngModel)]="item232"
                [uri]="'assets/json/products.json'"
                [idField]="'Code'"
                [pageSize]="20"
                [pageIndex]="1"
                [pagination]="true"
                [singleSelect]="false"
                [textField]="'Name'"
                [title]="'多选选帮助'"
                [valueField]="'Code'"
              ></farris-lookup-grid>
              <div class="farris-feedback valid-feedback">
                设置符合规则
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" [ngClass]="inputCls">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">账号</span>
            </label>
            <div class="farris-input-wrap">
              <farris-lookup
                class="f-cmp-inputgroup"
                [readonly]="true"
                [(ngModel)]="lookupvalue"
                name="test"
                [showButtons]="false"
                [title]="'自定义表单'"
              >
                <div style="padding: 30px">
                  此处自定义内容
                </div>
              </farris-lookup>
              <div class="farris-feedback valid-feedback">
                设置符合规则
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <h5>验证信息</h5>
    <div class="form-row farris-form" [ngClass]="horizontalCls">
      <div class="col-12" [ngClass]="inputCls">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-text">Grid帮助</span>
              <span class="farris-label-info text-muted"></span>
            </label>
            <div class="farris-input-wrap">
              <farris-lookup-grid
                class="f-cmp-inputgroup"
                name="userName23"
                [readonly]="true"
                [(ngModel)]="item232"
                [uri]="'assets/json/products.json'"
                [idField]="'Code'"
                [pageSize]="20"
                [pageIndex]="1"
                [pagination]="true"
                [singleSelect]="false"
                [textField]="'Name'"
                [title]="'多选选帮助'"
                [valueField]="'Code'"
              ></farris-lookup-grid>
              <div class="farris-feedback invalid-feedback">
                设置符合规则
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" [ngClass]="inputCls">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-text">备注</span>
              <span class="farris-label-info text-muted">提示信息</span>
            </label>
            <div class="farris-input-wrap">
              <farris-lookup
                class="form-is-invalid f-cmp-inputgroup"
                [readonly]="true"
                [(ngModel)]="lookupvalue"
                name="test"
                [showButtons]="false"
                [title]="'自定义表单'"
              >
                <div style="padding: 30px">
                  此处自定义内容
                </div>
              </farris-lookup>
              <div class="farris-feedback invalid-feedback">
                设置符合规则
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h4 class=" m-3">输入控件(Kendo)</h4>
<div class="row farris-split-section m-3 py-3 flex-wrap">
  <div class="col-12" [ngClass]="inputCls">
    <div class="form-row farris-form" [ngClass]="horizontalCls">
      <div class="col-12 col-md-4 col-lg-4">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-text">MaskedTextBox</span>
              <span class="farris-label-info text-danger">*</span>
            </label>
            <div class="farris-input-wrap">
              <kendo-maskedtextbox
                [(ngModel)]="maskedValue"
                [mask]="'9-000'"
                class="form-control"
              ></kendo-maskedtextbox>
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-text"
                >Slider (value = {{ sliderValue }})</span
              >
              <span class="farris-label-info text-danger">*</span>
            </label>
            <div class="farris-input-wrap">
              <kendo-slider
                [min]="min"
                [max]="max"
                [smallStep]="smallStep"
                [(ngModel)]="sliderValue"
                class="form-control"
              ></kendo-slider>
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-4">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-text">Switch</span>
              <span class="farris-label-info text-danger">*</span>
            </label>
            <div class="farris-input-wrap">
              <kendo-switch
                [(ngModel)]="switchValue"
                class="form-control"
              ></kendo-switch>
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-4">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-text">TextBox</span>
              <span class="farris-label-info text-danger">*</span>
            </label>
            <div class="farris-input-wrap">
              <kendo-textbox-container floatingLabel="First name">
                <input kendoTextBox />
              </kendo-textbox-container>
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-4">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-text">TextArea</span>
              <span class="farris-label-info text-danger">*</span>
            </label>
            <div class="farris-input-wrap">
              <kendo-textbox-container floatingLabel="First name">
                <textarea kendoTextArea></textarea>
              </kendo-textbox-container>
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h4 class="m-3">Checkbox和 readonly</h4>
<div class="row farris-split-section m-3 py-3 flex-wrap">
  <div class="col-6">
    <h5>KendoUI</h5>
    <div class="row">
      <div class="col-6">
        <h5>Checkboxes</h5>
        <div class="mb-2">
          <input class="k-checkbox" id="checkbox1" type="checkbox" />
          <label class="k-checkbox-label" for="checkbox1">未选中</label>
        </div>
        <div class="mb-2">
          <input checked class="k-checkbox" id="checkbox2" type="checkbox" />
          <label class="k-checkbox-label" for="checkbox2">选中</label>
        </div>
        <div class="mb-2">
          <input
            class="k-checkbox"
            id="checkbox4"
            type="checkbox"
            disabled="disabled"
          />
          <label class="k-checkbox-label" for="checkbox4">禁用-未选中</label>
        </div>
        <div class="mb-2">
          <input
            checked="checked"
            class="k-checkbox"
            disabled="disabled"
            id="checkbox3"
            type="checkbox"
          />
          <label class="k-checkbox-label" for="checkbox3">禁用-选中</label>
        </div>
        <div class="mb-2">
          <input class="k-checkbox" id="checkbox4" type="checkbox" readonly />
          <label class="k-checkbox-label" for="checkbox4">只读-未选中</label>
        </div>
        <div class="mb-2">
          <input
            checked="checked"
            class="k-checkbox"
            readonly
            id="checkbox3"
            type="checkbox"
          />
          <label class="k-checkbox-label" for="checkbox3">只读-选中</label>
        </div>
      </div>
      <div class="col-6">
        <h5>RadioButtons</h5>
        <div class="mb-2">
          <input class="k-radio" id="radio1" name="radios" type="radio" />
          <label class="k-radio-label" for="radio1">未选中</label>
        </div>
        <div class="mb-2">
          <input
            checked
            class="k-radio"
            id="radio2"
            name="radios"
            type="radio"
          />
          <label class="k-radio-label" for="radio2">选中</label>
        </div>
        <div class="mb-2">
          <input
            class="k-radio"
            id="radio4"
            name="radios"
            type="radio"
            disabled="disabled"
          />
          <label class="k-radio-label" for="radio4">禁用-未选中</label>
        </div>
        <div class="mb-2">
          <input
            checked
            class="k-radio"
            disabled="disabled"
            id="radio3"
            name="disabled-radios"
            type="radio"
          />
          <label class="k-radio-label" for="radio3">禁用-选中</label>
        </div>
        <div class="mb-2">
          <input
            class="k-radio"
            id="radio4"
            name="radios"
            type="radio"
            readonly
          />
          <label class="k-radio-label" for="radio4">只读-未选中</label>
        </div>
        <div class="mb-2">
          <input
            checked="checked"
            class="k-radio"
            readonly
            id="radio3"
            name="readonly-radios"
            type="radio"
          />
          <label class="k-radio-label" for="radio3">只读-选中</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <h5>Bootstrap</h5>
    <div class="row">
      <div class="col-6">
        <h5>Checkboxes</h5>
        <div class="custom-control custom-checkbox mb-2">
          <input
            type="checkbox"
            class="custom-control-input"
            id="customCheck1"
          />
          <label class="custom-control-label" for="customCheck1">未选中</label>
        </div>
        <div class="custom-control custom-checkbox mb-2">
          <input
            type="checkbox"
            class="custom-control-input"
            id="customCheck3"
            checked
          />
          <label class="custom-control-label" for="customCheck3"> 选中</label>
        </div>
        <div class="custom-control custom-checkbox mb-2">
          <input
            type="checkbox"
            class="custom-control-input"
            id="customCheck2"
            disabled
          />
          <label class="custom-control-label" for="customCheck2"
            >禁用-未选中</label
          >
        </div>
        <div class="custom-control custom-checkbox mb-2">
          <input
            type="checkbox"
            class="custom-control-input"
            id="customCheck4"
            checked
            disabled
          />
          <label class="custom-control-label" for="customCheck4"
            >禁用-选中</label
          >
        </div>

        <div class="custom-control custom-checkbox mb-2">
          <input
            type="checkbox"
            class="custom-control-input"
            id="customCheck2"
            readonly
          />
          <label class="custom-control-label" for="customCheck2"
            >只读-未选中</label
          >
        </div>
        <div class="custom-control custom-checkbox mb-2">
          <input
            type="checkbox"
            class="custom-control-input"
            id="customCheck4"
            checked
            readonly
          />
          <label class="custom-control-label" for="customCheck4"
            >只读-选中</label
          >
        </div>
      </div>
      <div class="col-6">
        <h5>RadioButtons</h5>
        <div class="custom-control custom-radio mb-2">
          <input
            type="radio"
            id="radio3"
            name="custom-radio1"
            id="customRadioDisabled"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customRadioDisabled"
            >未选中</label
          >
        </div>
        <div class="custom-control custom-radio mb-2">
          <input
            type="radio"
            id="radio3"
            name="custom-radio1"
            id="customRadioDisabled"
            class="custom-control-input"
            checked
          />
          <label class="custom-control-label" for="customRadioDisabled"
            >选中</label
          >
        </div>
        <div class="custom-control custom-radio mb-2">
          <input
            type="radio"
            id="radio3"
            name="custom-radio2"
            id="customRadioDisabled"
            class="custom-control-input"
            disabled
          />
          <label class="custom-control-label" for="customRadioDisabled"
            >禁用-未选中</label
          >
        </div>
        <div class="custom-control custom-radio mb-2">
          <input
            type="radio"
            id="radio3"
            name="custom-radio-diabled"
            id="customRadioDisabled"
            class="custom-control-input"
            checked
            disabled
          />
          <label class="custom-control-label" for="customRadioDisabled"
            >禁用-选中</label
          >
        </div>
        <div class="custom-control custom-radio mb-2">
          <input
            type="radio"
            id="radio3"
            name="custom-radio2"
            id="customRadioDisabled"
            class="custom-control-input"
            readonly
          />
          <label class="custom-control-label" for="customRadioDisabled"
            >只读-未选中</label
          >
        </div>
        <div class="custom-control custom-radio mb-2">
          <input
            type="radio"
            id="radio3"
            name="custom-radio2"
            id="customRadioDisabled"
            class="custom-control-input"
            checked
            readonly
          />
          <label class="custom-control-label" for="customRadioDisabled"
            >只读-选中</label
          >
        </div>
      </div>
    </div>
  </div>
</div>
