<!--页面模板 是卡片模板 是主从从模板-->
<farris-section
  class="f-section-grid f-section-form"
  [showHeader]="false"
  *ngIf="defaultData"
>
    <!--输入控件 没有分组-->
    <div class="farris-form farris-form-controls-inline">
      <fieldset class="f-section-formgroup">
        <div class="f-section-formgroup-inputs">
          <div class="col-12">
            <div class="farris-group-wrap">
              <div class="form-group farris-form-group">
                <label class="col-form-label">
                  <span class="farris-label-info text-danger">*</span
                  ><span class="farris-label-text">单据编号</span>
                </label>
                <div class="farris-input-wrap">
                  <input
                    type="text"
                    class="form-control"
                    name="DJBH"
                    [(ngModel)]="defaultData.FKDD.data.DJBH"
                  />
                  <div class="farris-feedback valid-feedback"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="farris-group-wrap">
              <div class="form-group farris-form-group">
                <label class="col-form-label">
                  <span class="farris-label-text">业务类型</span>
                </label>
                <div class="farris-input-wrap">
                  <!-- <kendo-dropdownlist
                    class="form-control"
                    [data]="listItemsDropDown"
                    [value]="'服务合同'"
                    [ngClass]="{ 'f-state-readonly': isViewState }"
                  >
                  </kendo-dropdownlist> -->
                  <farris-combo-list
                      [(ngModel)]="valObj.id"
                      [(selectedValues)]="valObj.text"
                      [idField]="'id'"
                      [textField]="'text'"
                      [data]="listItemsDropDown"
                    ></farris-combo-list>
                  <div class="farris-feedback valid-feedback"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="farris-group-wrap">
              <div class="form-group farris-form-group">
                <label class="col-form-label">
                  <span class="farris-label-text">业务日期</span>
                </label>
                <div class="farris-input-wrap">
                  <farris-datepicker class="form-control"></farris-datepicker>
                  <div class="farris-feedback valid-feedback"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="farris-group-wrap">
              <div class="form-group farris-form-group">
                <label class="col-form-label">
                  <span class="farris-label-info text-danger">*</span
                  ><span class="farris-label-text">客户</span>
                </label>
                <div class="farris-input-wrap">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="defaultData.FKDD.data.KH"
                    name="kh"
                  />
                  <div class="farris-feedback valid-feedback"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="farris-group-wrap">
              <div class="form-group farris-form-group">
                <label class="col-form-label">
                  <span class="farris-label-text">客户别名</span>
                </label>
                <div class="farris-input-wrap">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="defaultData.FKDD.data.KHBM"
                    name="khbm"
                  />
                  <div class="farris-feedback valid-feedback"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="farris-group-wrap">
              <div class="form-group farris-form-group">
                <label class="col-form-label">
                  <span class="farris-label-text">客户采购单号</span>
                </label>
                <div class="farris-input-wrap">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="defaultData.FKDD.data.KHCGDH"
                    name="khcgdh"
                  />
                  <div class="farris-feedback valid-feedback"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="farris-group-wrap">
              <div class="form-group farris-form-group">
                <label for="hpinput01" class="col-form-label">
                  <span class="farris-label-info text-danger">*</span
                  ><span class="farris-label-text">业务员</span>
                </label>
                <div class="farris-input-wrap">
                  <farris-lookup-grid
                    name="lxdh"
                    [(ngModel)]="lookupEmpee"
                    [uri]="'assets/data/empoyee.json'"
                    [singleSelect]="true"
                    [idField]="'Code'"
                    [pageSize]="20"
                    [pageIndex]="1"
                    [pagination]="true"
                    [textField]="'Name'"
                    [valueField]="'Code'"
                    [disabled]="isViewState"
                    [ngClass]="{ 'f-state-disabled': isViewState }"
                  ></farris-lookup-grid>
                  <div class="farris-feedback valid-feedback"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="farris-group-wrap">
              <div class="form-group farris-form-group">
                <label class="col-form-label">
                  <span class="farris-label-info text-danger">*</span
                  ><span class="farris-label-text">客户</span>
                </label>
                <div class="farris-input-wrap">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="defaultData.FKDD.data.KH"
                    name="kh"
                  />
                  <div class="farris-feedback valid-feedback"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="farris-group-wrap">
              <div class="form-group farris-form-group">
                <label class="col-form-label">
                  <span class="farris-label-text">客户别名</span>
                </label>
                <div class="farris-input-wrap">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="defaultData.FKDD.data.KHBM"
                    name="khbm"
                  />
                  <div class="farris-feedback valid-feedback"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="farris-group-wrap">
              <div class="form-group farris-form-group">
                <label class="col-form-label">
                  <span class="farris-label-text">客户采购单号</span>
                </label>
                <div class="farris-input-wrap">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="defaultData.FKDD.data.KHCGDH"
                    name="khcgdh"
                  />
                  <div class="farris-feedback valid-feedback"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="farris-group-wrap">
              <div class="form-group farris-form-group">
                <label for="hpinput01" class="col-form-label">
                  <span class="farris-label-info text-danger">*</span
                  ><span class="farris-label-text">业务员</span>
                </label>
                <div class="farris-input-wrap">
                  <farris-lookup-grid
                    name="lxdh"
                    [(ngModel)]="lookupEmpee"
                    [uri]="'assets/data/empoyee.json'"
                    [singleSelect]="true"
                    [idField]="'Code'"
                    [pageSize]="20"
                    [pageIndex]="1"
                    [pagination]="true"
                    [textField]="'Name'"
                    [valueField]="'Code'"
                    [disabled]="isViewState"
                    [ngClass]="{ 'f-state-disabled': isViewState }"
                  ></farris-lookup-grid>
                  <div class="farris-feedback valid-feedback"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
</farris-section>
