// 表格下面的分页
$cus-pagination-button-size: calc(
  #{#{$farris-pagination-line-height} + #{$pagination-padding-y * 2} + #{$pagination-border-width *
    2}}
);
.farris-datatable {
  .farris-table-pager {
    background-color: $f-neutral-00; // 目前高度牵扯计算不能
    height: 50px;
    min-height: 50px;
    width: 100%;
    .pagination {
      margin-bottom: 0;
    }
    .pagination-message {
      font-size: $farris-font-size-base;
      line-height: $cus-pagination-button-size;
    }
    .pagination-pagelist {
      margin-left: $farris-select-gutter;
    }
  }
}

.page-item.current .page-link {
  z-index: 1;
  color: $pagination-active-color;
  background-color: $pagination-active-bg !important;
  border-color: $pagination-active-border-color;
}
.pagination-message {
  color: $farris-pagination-color;
  line-height: 20px;
  font-size: 14px;
}
