<div class="bd-example">
  <div class="farris-form f-utils-flex-row-wrap mb-3">
    <div class="col-3 f-imgcontainer-in-form">
      <img src="assets/img/350x150.png" />
    </div>
    <div class="col-9 px-0 f-utils-flex-row-wrap">
      <div class="col-4">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">输入控件标签</span>
            </label>
            <div class="farris-input-wrap">
              <input class="form-control" type="text" value="输入值" readonly />
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">输入控件标签</span>
            </label>
            <div class="farris-input-wrap">
              <input class="form-control" type="text" value="输入值" readonly />
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">输入控件标签</span>
            </label>
            <div class="farris-input-wrap">
              <input class="form-control" type="text" value="输入值" readonly />
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">输入控件标签</span>
            </label>
            <div class="farris-input-wrap">
              <input class="form-control" type="text" value="输入值" readonly />
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">输入控件标签</span>
            </label>
            <div class="farris-input-wrap">
              <input class="form-control" type="text" value="输入值" readonly />
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">输入控件标签</span>
            </label>
            <div class="farris-input-wrap">
              <input class="form-control" type="text" value="输入值" readonly />
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">输入控件标签</span>
            </label>
            <div class="farris-input-wrap">
              <input class="form-control" type="text" value="输入值" readonly />
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">输入控件标签</span>
            </label>
            <div class="farris-input-wrap">
              <input class="form-control" type="text" value="输入值" readonly />
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">输入控件标签</span>
            </label>
            <div class="farris-input-wrap">
              <input class="form-control" type="text" value="输入值" readonly />
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="farris-group-wrap">
        <div class="form-group farris-form-group">
          <label class="col-form-label">
            <span class="farris-label-info text-danger">*</span>
            <span class="farris-label-text">输入控件标签</span>
          </label>
          <div class="farris-input-wrap">
            <input class="form-control" type="text" value="输入值" readonly />
            <div class="farris-feedback valid-feedback"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="farris-group-wrap">
        <div class="form-group farris-form-group">
          <label class="col-form-label">
            <span class="farris-label-info text-danger">*</span>
            <span class="farris-label-text">输入控件标签</span>
          </label>
          <div class="farris-input-wrap">
            <input class="form-control" type="text" value="输入值" readonly />
            <div class="farris-feedback valid-feedback"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="farris-group-wrap">
        <div class="form-group farris-form-group">
          <label class="col-form-label">
            <span class="farris-label-info text-danger">*</span>
            <span class="farris-label-text">输入控件标签</span>
          </label>
          <div class="farris-input-wrap">
            <input class="form-control" type="text" value="输入值" readonly />
            <div class="farris-feedback valid-feedback"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="farris-group-wrap">
        <div class="form-group farris-form-group">
          <label class="col-form-label">
            <span class="farris-label-info text-danger">*</span>
            <span class="farris-label-text">输入控件标签</span>
          </label>
          <div class="farris-input-wrap">
            <input class="form-control" type="text" value="输入值" readonly />
            <div class="farris-feedback valid-feedback"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="farris-group-wrap">
        <div class="form-group farris-form-group">
          <label class="col-form-label">
            <span class="farris-label-info text-danger">*</span>
            <span class="farris-label-text">输入控件标签</span>
          </label>
          <div class="farris-input-wrap">
            <input class="form-control" type="text" value="输入值" readonly />
            <div class="farris-feedback valid-feedback"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bd-example">
  <table class="f-form-table">
    <tr>
      <td rowspan="3">
        <div class="f-imgcontainer-in-form">
          <img src="assets/img/350x150.png" />
        </div>
      </td>
      <td>
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">输入控件标签</span>
            </label>
            <div class="farris-input-wrap">
              <input class="form-control" type="text" value="输入值" readonly />
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">输入控件标签</span>
            </label>
            <div class="farris-input-wrap">
              <input class="form-control" type="text" value="输入值" readonly />
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">输入控件标签</span>
            </label>
            <div class="farris-input-wrap">
              <input class="form-control" type="text" value="输入值" readonly />
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">输入控件标签</span>
            </label>
            <div class="farris-input-wrap">
              <input class="form-control" type="text" value="输入值" readonly />
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">输入控件标签</span>
            </label>
            <div class="farris-input-wrap">
              <input class="form-control" type="text" value="输入值" readonly />
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">输入控件标签</span>
            </label>
            <div class="farris-input-wrap">
              <input class="form-control" type="text" value="输入值" readonly />
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">输入控件标签</span>
            </label>
            <div class="farris-input-wrap">
              <input class="form-control" type="text" value="输入值" readonly />
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">输入控件标签</span>
            </label>
            <div class="farris-input-wrap">
              <input class="form-control" type="text" value="输入值" readonly />
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">输入控件标签</span>
            </label>
            <div class="farris-input-wrap">
              <input class="form-control" type="text" value="输入值" readonly />
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">输入控件标签</span>
            </label>
            <div class="farris-input-wrap">
              <input class="form-control" type="text" value="输入值" readonly />
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">输入控件标签</span>
            </label>
            <div class="farris-input-wrap">
              <input class="form-control" type="text" value="输入值" readonly />
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">输入控件标签</span>
            </label>
            <div class="farris-input-wrap">
              <input class="form-control" type="text" value="输入值" readonly />
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="farris-group-wrap">
          <div class="form-group farris-form-group">
            <label class="col-form-label">
              <span class="farris-label-info text-danger">*</span>
              <span class="farris-label-text">输入控件标签</span>
            </label>
            <div class="farris-input-wrap">
              <input class="form-control" type="text" value="输入值" readonly />
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
