// 字体定义
@font-face {
  font-family: 'FarrisIcons';
  font-style: normal;
  font-weight: normal;
  src: url('farrisicon.ttf?t=1559205317835') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

