<!-- <app-tab-router></app-tab-router> -->
<!--
  说明 ——只用来演示界面模板
-->
<div
  class="d-inline-flex bd-navbar py-2"
  style="height:auto;background:rgba(22, 36, 50, 0.6);"
>
  <select
    class="form-control mx-3"
    [(ngModel)]="selectedPage"
    (change)="changePageType()"
    name="pageTypeInfo.type"
    *ngFor="let pageTypeInfo of pageTypeInfos"
  >
    <option value="">{{pageTypeInfo.text}}</option>
    <option *ngFor="let item of pageTypeInfo.infos" [value]="item.value">{{
      item.name
    }}</option>
  </select>
</div>
<div class="flex-fill position-relative">
  <router-outlet>奋力加载中......</router-outlet>
</div>
