
// 下拉箭头的宽度
$farris-caret-width: 4px !default;
$farris-dropdown-toggle-split-x: 0.4375rem !default;
$farris-dropdown-link-active-bg: $f-aid-02 !default;
$farris-dropdown-link-hover-bg: $f-aid-03 !default;
$farris-dropdown-link-hover-color: $farris-body-color !default;
$farris-dropdown-link-active-color: $farris-body-color !default;
$farris-dropdown-toggle-margin-left: 2px !default;
$farris-dropdown-toggle-vertical-align: 2px !default;
$farris-dropdown-toggle-margin-right: 2px !default;
$farris-dropdown-padding-y: 0.25rem !default;
$farris-dropdown-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15) !default;
$farris-dropdown-link-disabled-color: rgba(0,0,0,0.25) !default;
$farris-dropdown-border-width: 0 !default;
$farris-dropdown-divider-bg: $f-neutral-06 !default;