<!--页面模板  是导航类页面  是左表格右卡片-->
<div class="f-page f-page-navigate f-page-is-grid-mainsubcard">
  <div class="f-page-header">
    <nav class="f-page-header-base">
      <div class="f-title">
        <span class="f-title-icon f-text-orna-dict">
          <i class="f-icon f-icon-page-title-start"></i>
        </span>
        <h4 class="f-title-text">列表标题列表标题-特别长标题超出部分验证</h4>
        <h5 class="f-title-subtitle">编号：YWZF201805020003</h5>
        <div class="f-title-status">
          <span class="badge badge-success">审批通过</span>
        </div>
        <div class="f-title-pagination">
          <span class="f-icon f-icon-arrow-w f-state-disabled"></span>
          <span class="f-icon f-icon-arrow-e"></span>
        </div>
      </div>
      <div class="f-content"></div>
      <f-response-toolbar
        class="col-7 f-toolbar"
        [datas]="toolbarData"
        (rtClickEvent)="responseToolbarClick($event)"
      ></f-response-toolbar>
    </nav>
  </div>
  <section class="f-page-main">
    <farris-splitter class="f-page-content">
      <farris-splitter-pane
        class="f-col-w4 f-page-content-nav"
        [ngResizable]="true"
        [rzHandles]="'e'"
      >
        <!--需要嵌套的层---------------------------IDE转化成组件----------->
        <div class="f-struct-wrapper  f-utils-fill-flex-column">
          <!-- 这里用来写筛选部分 -->
          <div class="f-page-list-filter" style="padding: 14px;">
            <npt-common-filter></npt-common-filter>
          </div>
          

          <farris-section
            class="f-section-grid f-section-in-nav"
            [showHeader]="false"
          >
            <farris-datagrid
              class="f-component-grid"
              [columns]="columns"
              [data]="orderListData"
              #dg="datagrid"
              [idField]="'DDBH'"
              [showLineNumber]="true"
              [fitColumns]="false"
              [total]="total"
              [striped]="false"
              [showCheckbox]="false"
              [virtualized]="true"
              [pagination]="false"
              [fit]="true"
            >
              <ng-template #cell1 let-ctx>
                <span class="f-pretend-link mr-2">{{
                  ctx.rowData['DDBH']
                }}</span>
                <span [class]="getBadgeCls(ctx.rowIndex)">通过</span>
              </ng-template>
            </farris-datagrid>
          </farris-section>
        </div>
      </farris-splitter-pane>

      <section class="f-page-content-main">
        <!--需要嵌套的层---------------------------IDE转化成组件----------->
        <div class="f-struct-wrapper">
          <farris-section
            class="f-section-form f-section-in-main"
            [enableAccordion]="'default'"
            [mainTitle]="'未分组、分组混排和整体収折'"
            [subTitle]="'侧标题占位'"
            [enableMaximize]="true"
          >
            <div
              class="f-form-layout farris-form farris-form-controls-inline"
              *ngIf="defaultData"
            >
              <div class="col-12 col-md-6">
                <div class="farris-group-wrap">
                  <div class="form-group farris-form-group">
                    <label class="col-form-label">
                      <span class="farris-label-info text-danger">*</span
                      ><span class="farris-label-text">单据编号</span>
                    </label>
                    <div class="farris-input-wrap">
                      <input
                        type="text"
                        class="form-control"
                        name="DJBH"
                        [(ngModel)]="defaultData.FKDD.data.DJBH"
                      />
                      <div class="farris-feedback valid-feedback"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="farris-group-wrap">
                  <div class="form-group farris-form-group">
                    <label class="col-form-label">
                      <span class="farris-label-text">业务类型</span>
                    </label>
                    <div class="farris-input-wrap">
                      <!-- <kendo-dropdownlist
                      class="form-control"
                      [data]="listItemsDropDown"
                      [value]="'服务合同'"
                      [ngClass]="{ 'f-state-readonly': isViewState }"
                    >
                    </kendo-dropdownlist> -->
                      <farris-combo-list
                        [(ngModel)]="valObj.id"
                        [(selectedValues)]="valObj.text"
                        [idField]="'id'"
                        [textField]="'text'"
                        [data]="listItemsDropDown"
                      ></farris-combo-list>
                      <div class="farris-feedback valid-feedback"></div>
                    </div>
                  </div>
                </div>
              </div>
              <fieldset class="f-section-formgroup">
                <legend class="f-section-formgroup-legend">
                  <div class="f-title">
                    第二个分组标题栏隐藏、部分输入控件显示
                  </div>
                  <div class="f-toolbar">
                    <button class="btn btn-link f-btn-mx">保存</button>
                    <button class="btn btn-link f-btn-mx">取消</button>
                    <span class="f-btn-separator"></span>
                    <button
                      class="btn f-btn-collapse-expand  f-btn-mx"
                      farrisCollapse
                      [collapseText]="'收起'"
                      [expandText]="'展开'"
                    ></button>
                  </div>
                </legend>
                <div class="f-section-formgroup-inputs">
                  <div class="col-12 col-md-6">
                    <div class="farris-group-wrap">
                      <div class="form-group farris-form-group">
                        <label class="col-form-label">
                          <span class="farris-label-text">业务日期</span>
                        </label>
                        <div class="farris-input-wrap">
                          <farris-datepicker
                            class="form-control"
                          ></farris-datepicker>
                          <div class="farris-feedback valid-feedback"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="farris-group-wrap">
                      <div class="form-group farris-form-group">
                        <label class="col-form-label">
                          <span class="farris-label-info text-danger">*</span
                          ><span class="farris-label-text">客户</span>
                        </label>
                        <div class="farris-input-wrap">
                          <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="defaultData.FKDD.data.KH"
                            name="kh"
                          />
                          <div class="farris-feedback valid-feedback"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="farris-group-wrap">
                      <div class="form-group farris-form-group">
                        <label class="col-form-label">
                          <span class="farris-label-text">客户别名</span>
                        </label>
                        <div class="farris-input-wrap">
                          <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="defaultData.FKDD.data.KHBM"
                            name="khbm"
                          />
                          <div class="farris-feedback valid-feedback"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="farris-group-wrap">
                      <div class="form-group farris-form-group">
                        <label class="col-form-label">
                          <span class="farris-label-text">客户采购单号</span>
                        </label>
                        <div class="farris-input-wrap">
                          <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="defaultData.FKDD.data.KHCGDH"
                            name="khcgdh"
                          />
                          <div class="farris-feedback valid-feedback"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="farris-group-wrap">
                      <div class="form-group farris-form-group">
                        <label for="hpinput01" class="col-form-label">
                          <span class="farris-label-info text-danger">*</span
                          ><span class="farris-label-text">业务员</span>
                        </label>
                        <div class="farris-input-wrap">
                          <farris-lookup-grid
                            name="lxdh"
                            [(ngModel)]="lookupEmpee"
                            [uri]="'assets/data/empoyee.json'"
                            [singleSelect]="true"
                            [idField]="'Code'"
                            [pageSize]="20"
                            [pageIndex]="1"
                            [pagination]="true"
                            [textField]="'Name'"
                            [valueField]="'Code'"
                            [disabled]="isViewState"
                            [ngClass]="{ 'f-state-disabled': isViewState }"
                          ></farris-lookup-grid>
                          <div class="farris-feedback valid-feedback"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="farris-group-wrap">
                      <div class="form-group farris-form-group">
                        <label class="col-form-label">
                          <span class="farris-label-info text-danger">*</span
                          ><span class="farris-label-text">客户</span>
                        </label>
                        <div class="farris-input-wrap">
                          <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="defaultData.FKDD.data.KH"
                            name="kh"
                          />
                          <div class="farris-feedback valid-feedback"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="farris-group-wrap">
                      <div class="form-group farris-form-group">
                        <label class="col-form-label">
                          <span class="farris-label-text">客户别名</span>
                        </label>
                        <div class="farris-input-wrap">
                          <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="defaultData.FKDD.data.KHBM"
                            name="khbm"
                          />
                          <div class="farris-feedback valid-feedback"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="farris-group-wrap">
                      <div class="form-group farris-form-group">
                        <label class="col-form-label">
                          <span class="farris-label-text">客户采购单号</span>
                        </label>
                        <div class="farris-input-wrap">
                          <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="defaultData.FKDD.data.KHCGDH"
                            name="khcgdh"
                          />
                          <div class="farris-feedback valid-feedback"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="farris-group-wrap">
                      <div class="form-group farris-form-group">
                        <label for="hpinput01" class="col-form-label">
                          <span class="farris-label-info text-danger">*</span
                          ><span class="farris-label-text">业务员</span>
                        </label>
                        <div class="farris-input-wrap">
                          <farris-lookup-grid
                            name="lxdh"
                            [(ngModel)]="lookupEmpee"
                            [uri]="'assets/data/empoyee.json'"
                            [singleSelect]="true"
                            [idField]="'Code'"
                            [pageSize]="20"
                            [pageIndex]="1"
                            [pagination]="true"
                            [textField]="'Name'"
                            [valueField]="'Code'"
                            [disabled]="isViewState"
                            [ngClass]="{ 'f-state-disabled': isViewState }"
                          ></farris-lookup-grid>
                          <div class="farris-feedback valid-feedback"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </farris-section>

          <!--表单区域-->
          <farris-section
            class="f-section-form f-section-in-main"
            [enableAccordion]="'custom'"
            [mainTitle]="'分组和未分组混排以及部分収折'"
            [subTitle]="'侧标题占位'"
            [enableMaximize]="true"
          >
            <!--输入控件 没有分组-->
            <div
              class="f-form-layout farris-form farris-form-controls-inline"
              *ngIf="defaultData"
            >
              <div class="col-12 col-md-6">
                <div class="farris-group-wrap">
                  <div class="form-group farris-form-group">
                    <label class="col-form-label">
                      <span class="farris-label-text">业务日期</span>
                    </label>
                    <div class="farris-input-wrap">
                      <farris-datepicker
                        class="form-control"
                      ></farris-datepicker>
                      <div class="farris-feedback valid-feedback"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 f-state-visible">
                <div class="farris-group-wrap">
                  <div class="form-group farris-form-group">
                    <label class="col-form-label">
                      <span class="farris-label-info text-danger">*</span
                      ><span class="farris-label-text">客户</span>
                    </label>
                    <div class="farris-input-wrap">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="defaultData.FKDD.data.KH"
                        name="kh"
                      />
                      <div class="farris-feedback valid-feedback"></div>
                    </div>
                  </div>
                </div>
              </div>
              <fieldset class="f-section-formgroup f-state-visible">
                <div class="f-section-formgroup-inputs f-state-visible">
                  <div class="col-12 col-md-6 f-state-visible">
                    <div class="farris-group-wrap">
                      <div class="form-group farris-form-group">
                        <label class="col-form-label">
                          <span class="farris-label-info text-danger">*</span
                          ><span class="farris-label-text">单据编号</span>
                        </label>
                        <div class="farris-input-wrap">
                          <input
                            type="text"
                            class="form-control"
                            name="DJBH"
                            [(ngModel)]="defaultData.FKDD.data.DJBH"
                          />
                          <div class="farris-feedback valid-feedback"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="farris-group-wrap">
                      <div class="form-group farris-form-group">
                        <label class="col-form-label">
                          <span class="farris-label-text">业务类型</span>
                        </label>
                        <div class="farris-input-wrap">
                          <!-- <kendo-dropdownlist
                            class="form-control"
                            [data]="listItemsDropDown"
                            [value]="'服务合同'"
                            [ngClass]="{ 'f-state-readonly': isViewState }"
                          >
                          </kendo-dropdownlist> -->
                          <farris-combo-list
                            [(ngModel)]="valObj.id"
                            [(selectedValues)]="valObj.text"
                            [idField]="'id'"
                            [textField]="'text'"
                            [data]="listItemsDropDown"
                          ></farris-combo-list>
                          <div class="farris-feedback valid-feedback"></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6">
                    <div class="farris-group-wrap">
                      <div class="form-group farris-form-group">
                        <label class="col-form-label">
                          <span class="farris-label-text">客户别名</span>
                        </label>
                        <div class="farris-input-wrap">
                          <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="defaultData.FKDD.data.KHBM"
                            name="khbm"
                          />
                          <div class="farris-feedback valid-feedback"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="farris-group-wrap">
                      <div class="form-group farris-form-group">
                        <label class="col-form-label">
                          <span class="farris-label-text">客户采购单号</span>
                        </label>
                        <div class="farris-input-wrap">
                          <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="defaultData.FKDD.data.KHCGDH"
                            name="khcgdh"
                          />
                          <div class="farris-feedback valid-feedback"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="farris-group-wrap">
                      <div class="form-group farris-form-group">
                        <label for="hpinput01" class="col-form-label">
                          <span class="farris-label-info text-danger">*</span
                          ><span class="farris-label-text">业务员</span>
                        </label>
                        <div class="farris-input-wrap">
                          <farris-lookup-grid
                            name="lxdh"
                            [(ngModel)]="lookupEmpee"
                            [uri]="'assets/data/empoyee.json'"
                            [singleSelect]="true"
                            [idField]="'Code'"
                            [pageSize]="20"
                            [pageIndex]="1"
                            [pagination]="true"
                            [textField]="'Name'"
                            [valueField]="'Code'"
                            [disabled]="isViewState"
                            [ngClass]="{ 'f-state-disabled': isViewState }"
                          ></farris-lookup-grid>
                          <div class="farris-feedback valid-feedback"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="farris-group-wrap">
                      <div class="form-group farris-form-group">
                        <label class="col-form-label">
                          <span class="farris-label-info text-danger">*</span
                          ><span class="farris-label-text">客户</span>
                        </label>
                        <div class="farris-input-wrap">
                          <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="defaultData.FKDD.data.KH"
                            name="kh"
                          />
                          <div class="farris-feedback valid-feedback"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="farris-group-wrap">
                      <div class="form-group farris-form-group">
                        <label class="col-form-label">
                          <span class="farris-label-text">客户别名</span>
                        </label>
                        <div class="farris-input-wrap">
                          <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="defaultData.FKDD.data.KHBM"
                            name="khbm"
                          />
                          <div class="farris-feedback valid-feedback"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="farris-group-wrap">
                      <div class="form-group farris-form-group">
                        <label class="col-form-label">
                          <span class="farris-label-text">客户采购单号</span>
                        </label>
                        <div class="farris-input-wrap">
                          <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="defaultData.FKDD.data.KHCGDH"
                            name="khcgdh"
                          />
                          <div class="farris-feedback valid-feedback"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="farris-group-wrap">
                      <div class="form-group farris-form-group">
                        <label for="hpinput01" class="col-form-label">
                          <span class="farris-label-info text-danger">*</span
                          ><span class="farris-label-text">业务员</span>
                        </label>
                        <div class="farris-input-wrap">
                          <farris-lookup-grid
                            name="lxdh"
                            [(ngModel)]="lookupEmpee"
                            [uri]="'assets/data/empoyee.json'"
                            [singleSelect]="true"
                            [idField]="'Code'"
                            [pageSize]="20"
                            [pageIndex]="1"
                            [pagination]="true"
                            [textField]="'Name'"
                            [valueField]="'Code'"
                            [disabled]="isViewState"
                            [ngClass]="{ 'f-state-disabled': isViewState }"
                          ></farris-lookup-grid>
                          <div class="farris-feedback valid-feedback"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </farris-section>
        </div>
        <!--Tab 区域放置从表-->
        <div class="f-struct-wrapper">
          <farris-section
            class="f-section-tabs f-section-in-main"
            [showHeader]="false"
          >
            <!--需要嵌套的层-----------标签页---------------->
            <farris-tabs class="f-component-tabs">
              <farris-tab
                [title]="'物料信息'"
                [id]="'wlxx'"
                [toolbar]="toolbarA"
              >
                <ng-template #content>
                  <!--需要嵌套的层-------------------------------------->
                  <div class="f-struct-is-subgrid">
                    <div class="f-grid-is-sub f-utils-flex-column">
                      <farris-datagrid
                        class="f-component-grid"
                        [columns]="gridTab1GridColumns"
                        [data]="gridTab1GridData"
                        #dg="datagrid"
                        [idField]="'DDBH'"
                        [showLineNumber]="true"
                        [fitColumns]="false"
                        [total]="gridTab1GridTotal"
                        [striped]="false"
                        [showCheckbox]="false"
                        [virtualized]="true"
                        [pagination]="false"
                        [fit]="true"
                      >
                      </farris-datagrid>
                    </div>
                  </div>
                </ng-template>
              </farris-tab>
              <farris-tab
                [title]="'交货信息'"
                [id]="'jhxx'"
                [toolbar]="toolbarB"
              >
                <ng-template #content>
                  <!--需要嵌套的层-------------------------------------->
                  <div class="f-struct-is-subgrid">
                    <div class="f-grid-is-sub f-utils-flex-column">
                      <farris-datagrid
                        class="f-component-grid"
                        [columns]="gridTab2GridColumns"
                        [data]="gridTab2GridData"
                        #dg="datagrid"
                        [idField]="'DDBH'"
                        [showLineNumber]="true"
                        [fitColumns]="false"
                        [total]="gridTab2GridTotal"
                        [striped]="false"
                        [showCheckbox]="false"
                        [virtualized]="true"
                        [pagination]="false"
                        [fit]="true"
                      >
                      </farris-datagrid>
                    </div>
                  </div>
                </ng-template>
              </farris-tab>
            </farris-tabs>
          </farris-section>
        </div>
      </section>
    </farris-splitter>
  </section>
</div>
