
// 图标扩展字体
$farris-icon-extend-font-family:"FarrisExtend";
$farris-icon-font-size: 1rem !default;
$farris-icon-size: 1em !default;
$farris-icon-extend:"k-icon"!default;
$farris-icon-extend-prefix:"k-i"!default;
