// 父样式
.f-sidebar-parent {
}
// 当侧边栏收起时
.f-sidebar-parent-collapse {
  overflow: hidden;
}
// 当侧边栏展开时
.f-sidebar-parent-expand {

}

// 背景
.f-sidebar-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: $f-sidebar-overlay-zindex;
  background: $f-mask-bg;
  transition: opacity $f-sidebar-transition-time;
  &.f-sidebar-show {
    transform: translate3d(0, 0, 0);
  }
  &.f-sidebar-collapse {
    transform: translate3d(-100%, 0, 0);
  }
}
.f-sidebar-slide .f-sidebar-main {
  transition: transform $f-sidebar-transition-time;
}

// 主内容区
.f-sidebar-main {
  position: absolute;
  z-index: #{$f-sidebar-overlay-zindex + 50};
  width: $f-sidebar-main-width;
  background: $f-sidebar-main-bg;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  // 头部区域 ------------------ 旧结构
  .f-sidebar-header-ctr {
    // position: absolute;
    // top: 3.125rem;
    height: $f-sidebar-header-height;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    border-width: $f-sidebar-header-border-width;
    border-style: solid;
    border-color: $f-sidebar-header-border-color;
    padding: $f-sidebar-header-inner-gutter;
    .f-sidebar-header-title {
      flex: 1 1 auto;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: $f-sidebar-header-title-font-size;
      color: $f-sidebar-header-title-text;
    }
  }

  .f-sidebar-header {
    height: $f-sidebar-header-height;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    border-width: $f-sidebar-header-border-width;
    border-style: solid;
    border-color: $f-sidebar-header-border-color;
    padding: $f-sidebar-header-inner-gutter;
    .f-title {
      flex: 1 1 auto;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $f-sidebar-header-title-text;
      h5 {
        font-size: $f-sidebar-header-title-font-size;
        margin: 0;
      }
    }
  }

  .f-sidebar-close {
    width: $f-sidebar-icon-close-width;
    height: $f-sidebar-icon-close-height;
    font-size: $f-sidebar-icon-close-size;
    color: $f-sidebar-icon-close-color;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }

  // 内容区域
  .f-sidebar-content {
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .f-sidebar-footer {
    height: 2.625rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    padding: 0 0.375rem;
    background: $f-neutral-09;
    border-top:1px solid $f-neutral-07;
    //border: 1px solid $f-neutral-07;
  }
  .f-sidebar-footer .f-btn-mr {
    margin-right: 0.5rem;
  }
}
// 左侧
.f-sidebar-pos-left {
  .f-sidebar-main {
    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: $f-sidebar-main-shadow;
  }
  .f-sidebar-entry-ctr {
    left: 0;
    border-radius: $f-sidebar-entry-ctr-pos-left-border-radius;
  }
  &.f-sidebar-show {
    .f-sidebar-main {
      transform: translate3d(0, 0, 0);
    }
    .f-sidebar-entry-ctr {
      opacity: 0;
    }
  }

  &.f-sidebar-collapse {
    .f-sidebar-main {
      transform: translate3d(-100%, 0, 0);
    }
    .f-sidebar-entry-ctr {
      opacity: 1;
    }
  }
}
.f-sidebar-collapse {
  .f-sidebar-main {
    box-shadow: none;
  }
}

// 右侧
.f-sidebar-pos-right {
  .f-sidebar-main {
    top: 0;
    bottom: 0;
    right: 0;
    box-shadow: -3px 0 3px 0 rgba(0, 0, 0, 0.15);
  }
  .f-sidebar-entry-ctr {
    right: 0;
    left: auto;
    border-radius: $f-sidebar-entry-ctr-pos-right-border-radius;
    .f-sidebar-entry::before {
      content: $f-sidebar-icon-close-icon;
    }
  }
  &.f-sidebar-show {
    .f-sidebar-main {
      transform: translate3d(0, 0, 0);
    }
    .f-sidebar-entry-ctr {
      opacity: 0;
    }
  }

  &.f-sidebar-collapse {
    .f-sidebar-main {
      transform: translate3d(100%, 0, 0);
    }
    .f-sidebar-entry-ctr {
      opacity: 1;
    }
  }
}

/*収折图标*/
.f-sidebar-entry-icon {
  width: $f-sidebar-entry-icon-width;
  height: $f-sidebar-entry-icon-height;
  background: $f-sidebar-entry-icon-bg;
  color: $f-sidebar-entry-icon-color;
  box-shadow: $f-sidebar-entry-icon-shadow;
  text-align: center;
  cursor: pointer;
  .f-icon {
    font-size: $f-sidebar-entry-icon-size;
    line-height: $f-sidebar-entry-icon-height;
  }
  &:hover {
    opacity: 0.8;
  }
}
.f-sidebar-entry-ctr {
  position: absolute;
  top: $f-sidebar-entry-icon-top-position;
  z-index: #{$f-sidebar-overlay-zindex + 50};
  transition: transform #{$f-sidebar-transition-time * 2};
}
