<!--页面模板  是导航类页面  是左表格右表格-->
<div class="f-page f-page-navigate f-page-is-grid-grid">
  <div class="f-page-header">
    <nav class="f-page-header-base">
      <div class="f-title">
        <span class="f-title-icon f-text-orna-param">
          <i class="f-icon f-icon-page-title-maintenance"></i>
        </span>
        <h4 class="f-title-text">左列右主从——支持可拖拽</h4>
        <h5 class="f-title-subtitle">编号：YWZF201805020003</h5>
        <div class="f-title-status">
          <span class="badge badge-success">审批通过</span>
        </div>
        <div class="f-title-pagination">
          <span class="f-icon f-icon-arrow-w f-state-disabled"></span>
          <span class="f-icon f-icon-arrow-e"></span>
        </div>
      </div>
      <div class="f-content"></div>
      <f-response-toolbar
        class="col-7 f-toolbar"
        [datas]="toolbarData"
        (rtClickEvent)="responseToolbarClick($event)"
      ></f-response-toolbar>
    </nav>
  </div>
  <section class="f-page-main">
    <!--扩展区域-->
    <div class="f-page-main-extend f-split-border-b f-common-py-form">
      <div class="f-form-layout farris-form farris-form-controls-inline">
        <div class="col-3">
          <div class="farris-group-wrap">
            <div class="form-group farris-form-group">
              <label for="hpinput01" class="col-form-label">
                <span class="farris-label-info text-danger">*</span
                ><span class="farris-label-text">订单编号</span>
              </label>
              <div class="farris-input-wrap">
                <input type="text" class="form-control" value="" />
                <div class="farris-feedback valid-feedback"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="farris-group-wrap">
            <div class="form-group farris-form-group">
              <label class="col-form-label">
                <span class="farris-label-text">类型</span>
                <small class="farris-label-info text-muted">&nbsp;</small>
              </label>
              <div class="farris-input-wrap">
                <!-- <kendo-dropdownlist
                        class="form-control"
                        [data]="typeItemsDropDown"
                        [value]="'国有单位'"
                      >
                      </kendo-dropdownlist> -->
                <farris-combo-list
                  [(ngModel)]="valObj.id"
                  [(selectedValues)]="valObj.text"
                  [idField]="'id'"
                  [textField]="'text'"
                  [data]="listItemsDropDown"
                ></farris-combo-list>
                <div class="farris-feedback valid-feedback"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="farris-group-wrap">
            <div class="form-group farris-form-group">
              <label class="col-form-label">
                <span class="farris-label-text">客户名称</span>
              </label>
              <div class="farris-input-wrap">
                <input type="password" class="form-control" placeholder="" />
                <div class="farris-feedback valid-feedback"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col text-right">
          <button class="btn btn-secondary">
            查询
          </button>
        </div>
      </div>
    </div>
    <farris-splitter class="f-page-content f-utils-flex-column">
      <farris-splitter-pane
        class="f-col-h6 f-page-content-nav"
        [ngResizable]="true"
        [rzHandles]="'s'"
      >
        <!--需要嵌套的层---------------------------IDE转化成组件----------->
        <div class="f-struct-wrapper  f-utils-fill-flex-column">
          <farris-section
            class="f-section-grid f-section-in-nav"
            [showHeader]="false"
          >
            <farris-datagrid
              class="f-component-grid"
              [columns]="columns"
              [data]="orderListData"
              #dg="datagrid"
              [idField]="'DDBH'"
              [showLineNumber]="true"
              [fitColumns]="false"
              [total]="total"
              [striped]="false"
              [showCheckbox]="false"
              [virtualized]="true"
              [pagination]="false"
              [fit]="true"
            >
              <ng-template #cellLeft let-ctx>
                <span class="f-pretend-link mr-2">{{
                  ctx.rowData['DDBH']
                }}</span>
              </ng-template>
            </farris-datagrid>
          </farris-section>
        </div>
      </farris-splitter-pane>

      <section class="f-page-content-main">
        <!--需要嵌套的层---------------------------IDE转化成组件----------->
        <div class="f-struct-wrapper f-utils-fill-flex-column">
          <!--Section 组件-->
          <farris-section class="f-section-grid f-section-in-main">
            <ng-template farrisSectionTitle>
              <h4 class="f-title-text">销售订单列表</h4>
              <div class="f-title-subtitle">(20)</div>
            </ng-template>
            <ng-template farrisSectionExtend>
              <div class="f-section-extend-gridfilter">
                <span><i class="f-icon f-icon-info"></i></span>
                <p>已选择 <span class="text-info">2</span> 项</p>
                <p>支付申请总计：36.4 万</p>
                <button class="btn btn-link">清空</button>
              </div>
            </ng-template>

            <farris-datagrid
              class="f-component-grid"
              [columns]="grid2Columns"
              [data]="grid2Data"
              #dg="datagrid"
              [idField]="'DDBH'"
              [showLineNumber]="true"
              [fitColumns]="false"
              [total]="grid2Total"
              [striped]="false"
              [showCheckbox]="false"
              [virtualized]="true"
              [pagination]="false"
              [fit]="true"
            >
              <ng-template #cell1 let-ctx>
                <button class="btn btn-secondary">操作</button>
              </ng-template>
              <ng-template #cell2 let-ctx>
                <div class="text-center">
                  <span class="f-icon f-icon-flag_urgent text-warning"></span>
                </div>
              </ng-template>
              <ng-template #cell3 let-ctx>
                <span class="f-pretend-link mr-2">{{
                  ctx.rowData['DDBH']
                }}</span>
                <span [class]="getBadgeCls(ctx.rowIndex)">通过</span>
              </ng-template>
            </farris-datagrid>
          </farris-section>
        </div>
      </section>
    </farris-splitter>
  </section>
</div>
