//list item颜色及背景
$f-combolist-item-color:$f-text-02;
$f-combolist-item-hover-bg-color:$f-aid-03;
$f-combolist-item-active-bg-color:$f-aid-02;
//list item padding
$f-combolist-item-padding-y:$f-combo-list-item-padding-y;