// 输入控件——下划线——边线——颜色
$f-input-underline-border-color:$f-neutral-11;
//input-group 关闭按钮样式 20191012
$f-input-group-close-icon-bg:$f-neutral-02;
$f-input-group-close-icon-color:$f-text-00;
$f-input-group-close-icon-size:0.875rem;