<!--页面模板 是管理列表-->
<div class="f-page f-page-is-managelist">
  <div class="f-page-header">
    <nav class="f-page-header-base">
      <div class="f-title">
        <span class="f-title-icon f-text-orna-manage">
          <i class="f-icon f-icon-page-title-administer"></i>          
        </span>
        <h4 class="f-title-text">列表标题列表标题-特别长标题超出部分验证</h4>
        <h5 class="f-title-subtitle">编号：YWZF201805020003</h5>
        <div class="f-title-status">
          <span class="badge badge-success">审批通过</span>
        </div>
        <div class="f-title-pagination">
          <span class="f-icon f-icon-arrow-w f-state-disabled"></span>
          <span class="f-icon f-icon-arrow-e"></span>
        </div>
      </div>
      <div class="f-content"></div>
      <f-response-toolbar
        class="col-7 f-toolbar"
        [datas]="toolbarData"
        (rtClickEvent)="responseToolbarClick($event)"
      ></f-response-toolbar>
    </nav>
  </div>
  <div class="f-page-main">
    <!--需要嵌套的层---------------------------IDE转化成组件----------->
    <div class="f-struct-wrapper f-utils-fill-flex-column">
      <!--Section 组件-->
      <farris-section class="f-section-grid f-section-in-managelist">
        <ng-template farrisSectionTitle>
          <h4 class="f-title-text">销售订单列表</h4>
          <div class="f-title-subtitle">(20)</div>
        </ng-template>
        <ng-template farrisSectionExtend>
          <div class="f-section-extend-gridfilter">
            <span><i class="f-icon f-icon-info"></i></span>
            <p>已选择 <span class="text-info">2</span> 项</p>
            <p>支付申请总计：36.4 万</p>
            <button class="btn btn-link">清空</button>
          </div>
        </ng-template>

        <farris-datagrid
          class="f-component-grid"
          [columns]="columns"
          [data]="orderListData"
          #dg="datagrid"
          [idField]="'DDBH'"
          [showLineNumber]="true"
          [fitColumns]="false"
          [total]="total"
          [striped]="false"
          [showCheckbox]="false"
          [virtualized]="true"
          [pagination]="false"
          [fit]="true"
          [sizeType]="sizeType"
        >
          <ng-template #cell1 let-ctx>
            <button class="btn btn-secondary">操作</button>
          </ng-template>
          <ng-template #cell2 let-ctx>
            <div class="text-center">
              <span class="f-icon f-icon-flag_urgent text-warning"></span>
            </div>
          </ng-template>
          <ng-template #cell3 let-ctx>
            <span class="f-pretend-link mr-2">{{ ctx.rowData['DDBH'] }}</span>
            <span [class]="getBadgeCls(ctx.rowIndex)">通过</span>
          </ng-template>
        </farris-datagrid>
        <div class="f-grid-total-row">
          <div class="f-title">当页合计</div>
          <div class="f-content">
            <dl class="f-grid-total-detail">
              <dt>未还款金额：</dt>
              <dd>¥ 15,236.00</dd>
              <dt>申请金额：</dt>
              <dd class="text-warning h3">¥ 35,236.00</dd>
            </dl>
          </div>
        </div>
      </farris-section>
    </div>
  </div>
</div>
