<div class="farris-header">
  <nav class="navbar p-0">
    <h4 class="farris-form-title mr-auto">左树右列表-[待定]</h4>
    <div class="btn-toolbar">
      <button class="btn btn-primary  f-btn-ml" (click)="changeState('add')">
        新增
      </button>
      <button class="btn btn-secondary f-btn-ml" (click)="changeState('edit')">
        编辑
      </button>
      <button class="btn btn-secondary f-btn-ml" (click)="changeState('edit')">
        查看
      </button>
      <button class="btn btn-secondary f-btn-ml" (click)="changeState('edit')">
        删除
      </button>
      <button class="btn btn-secondary f-btn-ml" (click)="changeState('delete')">
        关闭
      </button>
      <!--
        <button class="btn btn-secondary" (click)="changeState('save')">
          保存
        </button>
      -->
    </div>
  </nav>
</div>
<div class="row no-gutters farris-split-section  flex-fill f-overflow-y-auto f-overflow-lg-y-hidden">
  <div class="col-12 col-lg-4 d-flex flex-column farris-lsection">
    <form class="farris-form d-flex flex-wrap mt-3">
      <div class="col-6">
        <div class="farris-group-wrap form-inline farris-form-inline">
          <div class="form-group farris-form-group">
            <label for="hpinput01" class="col-form-label">
              <span class="farris-label-text">订单编号</span>
            </label>
            <div class="farris-input-wrap">
              <input
                type="text"
                class="form-control"
                value="Ximena"
              />
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="farris-group-wrap form-inline farris-form-inline">
          <div class="form-group farris-form-group">
            <label class="col-form-label">
              <span class="farris-label-text">类型</span>
            </label>
            <div class="farris-input-wrap">
              <select class="form-control">
                <option selected>股份公司</option>
                <option>国有单位</option>
                <option>个人</option>
              </select>
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="farris-group-wrap form-inline farris-form-inline">
          <div class="form-group farris-form-group">
            <label class="col-form-label">
              <span class="farris-label-text">客户名称</span>
            </label>
            <div class="farris-input-wrap">
              <input type="text" class="form-control" placeholder="密码" />
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="farris-group-wrap form-inline farris-form-inline">
          <div class="form-group farris-form-group">
            <label class=" col-form-label">
              <span class="farris-label-text">客户别名</span>
            </label>
            <div class="farris-input-wrap">
              <input class="k-textbox form-control" type="text" />
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="farris-group-wrap form-inline farris-form-inline">
          <div class="form-group farris-form-group">
            <label class="col-form-label">
              <span class="farris-label-text">业务类型</span>
            </label>
            <div class="farris-input-wrap">
              <kendo-dropdownlist
                [class]="'form-control'"
                [data]="listItemsDropDown"
                [value]="'服务合同'"
              >
              </kendo-dropdownlist>
              <div class="farris-feedback valid-feedback"></div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <farris-treetable
      [data]="treedata"
      [columns]="cols"
      [idField]="'name'"
      [showFilterBar]="false"
      [fixedHeader]="true"
      [fit]="true"
    >
      <ng-template farrisTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">{{ col.title }}</th>
        </tr>
      </ng-template>
      <ng-template
        farrisTemplate="body"
        let-rowNode
        let-rowData="rowData"
        let-columns="columns"
      >
        <tr [selectRow]="rowNode">
          <td *ngFor="let col of columns; let i = index">
            <farris-treeTableToggler
              [rowNode]="rowNode"
              *ngIf="i == 0"
            ></farris-treeTableToggler>
            {{ rowData[col.field] }}
          </td>
        </tr>
      </ng-template>
    </farris-treetable>
  </div>
  <div class="col-12 col-lg-8  farris-rsection d-flex flex-column">
    <section class="farris-grid-toolbar">
      <h5 class="mr-auto farris-grid-title">人员信息</h5>
    </section>
    <kendo-grid
      [data]="orderListData"
      [class]="'flex-fill'"
      [pageSize]="20"
      total="40"
      [pageable]="true"
      [scrollable]="true"
    >
      <kendo-grid-column
        
        field="DDRQ"
        title="单据日期"
        width="100"
      >
      </kendo-grid-column>
      <kendo-grid-column
        
        field="DDBH"
        title="订单编号"
        width="140"
      >
      </kendo-grid-column>
      <kendo-grid-column
        
        field="KHMC"
        title="客户名称"
      >
      </kendo-grid-column>
      <kendo-grid-column
        
        field="KHBM"
        title="客户别名"
      >
      </kendo-grid-column>
      <kendo-grid-column
        
        field="BM"
        title="部门"
      >
      </kendo-grid-column>
      <kendo-grid-column
        
        field="YWY"
        title="业务员"
      >
      </kendo-grid-column>
      <kendo-grid-column
        
        field="ZJE"
        title="总金额"
        width="100"
      ></kendo-grid-column>
      <kendo-grid-column
        
        field="BZ"
        title="币种"
        width="80"
      ></kendo-grid-column>
    </kendo-grid>
  </div>
</div>
