<!--页面模板  是卡片类页面 扩展页面顶部区域 扩展页面Header区域 扩展页面主内容区-->
<div class="f-page f-page-card  f-page-is-mainsubcard">
  <!--扩展页面顶部区域-->
  <div class="f-page-headerextend">
    <div class="ywzfsq-header">
      <div class="ywzfsq-title-ctr">
        <span class="f-icon f-icon-info"></span>
        <h4 class="ywzfsq-title">执行信息</h4>
      </div>
      <div class="ywzfsq-info-ctr">
        <ul>
          <li><label>已办金额：</label><span>20,000.00</span></li>
          <li><label>其中已支付金额：</label><span>20,000.00</span></li>
        </ul>
      </div>
      <div class="ywzfsq-toolbar-ctr">
        <h5 class="ywzfsq-info-sum">
          办理金额：<span class="text-warning">20,000.00 </span>
        </h5>
        <div class="ywzfsq-detail-icon">
          <span>详细</span><i class="f-icon f-accordion-expand"></i>
        </div>
      </div>
    </div>
    <div class="ywzfsq-content">
      <ul class="ywzfsq-timeline">
        <li class="ywzfsq-timeline-item">
          <p class="ywzfsq-timeline-time-ctr">
            <span>2019-03-21</span>
          </p>
          <section class="ywzfsq-timeline-content-ctr">
            <h5 class="ywzfsq-timeline-header">
              办理金额：<span class="text-warning">80,000.00</span>
            </h5>
            <ul class="ywzfsq-timeline-info">
              <li><label>单据编号：</label><span>CQ001</span></li>
              <li><label>付款账号：</label><span>6228 8891 2201 2004</span></li>
              <li><label>结算方式：</label><span>付款</span></li>
              <li><label>期望付款日期：</label><span>2019-0322</span></li>
              <li><label>银企直联付款：</label><span>是</span></li>
            </ul>
            <div class="f-cmp-process">
              <div class="f-cmp-process-step f-cmp-process-step-done">
                <span class="f-cmp-process-icon">
                  <i class="f-icon-md">done</i>
                  <i class="f-text">1</i>
                </span>
                <span class="f-cmp-process-text">
                  审批中
                </span>
                <span class="f-cmp-process-next">
                  <i class="f-icon-md">chevron_right</i>
                </span>
              </div>
              <div class="f-cmp-process-step  f-cmp-process-step-done">
                <span class="f-cmp-process-icon">
                  <i class="f-icon-md">done</i>
                  <i class="f-text">2</i>
                </span>
                <span class="f-cmp-process-text">
                  待复核
                </span>
                <span class="f-cmp-process-next">
                  <i class="f-icon-md">chevron_right</i>
                </span>
              </div>
              <div class="f-cmp-process-step  f-cmp-process-step-done">
                <span class="f-cmp-process-icon">
                  <i class="f-icon-md">done</i>
                  <i class="f-text">3</i>
                </span>
                <span class="f-cmp-process-text">
                  允许发送银行
                </span>
                <span class="f-cmp-process-next">
                  <i class="f-icon-md">chevron_right</i>
                </span>
              </div>
              <div class="f-cmp-process-step">
                <span class="f-cmp-process-icon">
                  <i class="f-icon-md">done</i>
                  <i class="f-text">4</i>
                </span>
                <span class="f-cmp-process-text">网银发送待确认</span>
                <span class="f-cmp-process-next">
                  <i class="f-icon-md">chevron_right</i>
                </span>
              </div>
              <div class="f-cmp-process-step">
                <span class="f-cmp-process-icon">
                  <i class="f-icon-md">done</i>
                  <i class="f-text">5</i>
                </span>
                <span class="f-cmp-process-text">等待发送银行</span>
                <span class="f-cmp-process-next">
                  <i class="f-icon-md">chevron_right</i>
                </span>
              </div>
              <div class="f-cmp-process-step">
                <span class="f-cmp-process-icon">
                  <i class="f-icon-md">done</i>
                  <i class="f-text">6</i>
                </span>
                <span class="f-cmp-process-text">银行正在处理 </span>
                <span class="f-cmp-process-next">
                  <i class="f-icon-md">chevron_right</i>
                </span>
              </div>
              <div class="f-cmp-process-step">
                <span class="f-cmp-process-icon">
                  <i class="f-icon-md">done</i>
                  <i class="f-text">7</i>
                </span>
                <span class="f-cmp-process-text">银行付款成功</span>
                <span class="f-cmp-process-next">
                  <i class="f-icon-md">chevron_right</i>
                </span>
              </div>
            </div>
          </section>
        </li>
        <li class="ywzfsq-timeline-item">
          <p class="ywzfsq-timeline-time-ctr">
            <span>2019-03-21</span>
          </p>
          <section class="ywzfsq-timeline-content-ctr">
            <h5 class="ywzfsq-timeline-header">
              办理金额：<span class="text-warning">80,000.00</span>
            </h5>
            <ul class="ywzfsq-timeline-info">
              <li><label>单据编号：</label><span>CQ001</span></li>
              <li><label>付款账号：</label><span>6228 8891 2201 2004</span></li>
              <li><label>结算方式：</label><span>付款</span></li>
              <li><label>期望付款日期：</label><span>2019-0322</span></li>
              <li><label>银企直联付款：</label><span>是</span></li>
            </ul>
            <div class="f-cmp-process">
              <div class="f-cmp-process-step f-cmp-process-step-done">
                <span class="f-cmp-process-icon">
                  <i class="f-icon-md">done</i>
                  <i class="f-text">1</i>
                </span>
                <span class="f-cmp-process-text">
                  审批中
                </span>
                <span class="f-cmp-process-next">
                  <i class="f-icon-md">chevron_right</i>
                </span>
              </div>
              <div class="f-cmp-process-step  f-cmp-process-step-done">
                <span class="f-cmp-process-icon">
                  <i class="f-icon-md">done</i>
                  <i class="f-text">2</i>
                </span>
                <span class="f-cmp-process-text">
                  待复核
                </span>
                <span class="f-cmp-process-next">
                  <i class="f-icon-md">chevron_right</i>
                </span>
              </div>
              <div class="f-cmp-process-step  f-cmp-process-step-done">
                <span class="f-cmp-process-icon">
                  <i class="f-icon-md">done</i>
                  <i class="f-text">3</i>
                </span>
                <span class="f-cmp-process-text">
                  允许发送银行
                </span>
                <span class="f-cmp-process-next">
                  <i class="f-icon-md">chevron_right</i>
                </span>
              </div>
              <div class="f-cmp-process-step">
                <span class="f-cmp-process-icon">
                  <i class="f-icon-md">done</i>
                  <i class="f-text">4</i>
                </span>
                <span class="f-cmp-process-text">网银发送待确认</span>
                <span class="f-cmp-process-next">
                  <i class="f-icon-md">chevron_right</i>
                </span>
              </div>
              <div class="f-cmp-process-step">
                <span class="f-cmp-process-icon">
                  <i class="f-icon-md">done</i>
                  <i class="f-text">5</i>
                </span>
                <span class="f-cmp-process-text">等待发送银行</span>
                <span class="f-cmp-process-next">
                  <i class="f-icon-md">chevron_right</i>
                </span>
              </div>
              <div class="f-cmp-process-step">
                <span class="f-cmp-process-icon">
                  <i class="f-icon-md">done</i>
                  <i class="f-text">6</i>
                </span>
                <span class="f-cmp-process-text">银行正在处理 </span>
                <span class="f-cmp-process-next">
                  <i class="f-icon-md">chevron_right</i>
                </span>
              </div>
              <div class="f-cmp-process-step">
                <span class="f-cmp-process-icon">
                  <i class="f-icon-md">done</i>
                  <i class="f-text">7</i>
                </span>
                <span class="f-cmp-process-text">银行付款成功</span>
                <span class="f-cmp-process-next">
                  <i class="f-icon-md">chevron_right</i>
                </span>
              </div>
            </div>
          </section>
        </li>
      </ul>
    </div>
  </div>
  <!--Page Header 区域-->
  <header class="f-page-header">
    <nav class="f-page-header-base">
      <div class="f-title">
        <span class="f-title-icon f-text-orna-bill">
          <i class="f-icon f-icon-page-title-record"></i>
        </span>
        <h4 class="f-title-text">列表标题列表标题-特别长标题超出部分验证</h4>
        <h5 class="f-title-subtitle">编号：YWZF201805020003</h5>
        <div class="f-title-status">
          <span class="badge badge-success">审批通过</span>
        </div>
        <div class="f-title-pagination">
          <span class="f-icon f-icon-arrow-w f-state-disabled"></span>
          <span class="f-icon f-icon-arrow-e"></span>
        </div>
      </div>
      <div class="f-content"></div>
      <f-response-toolbar
        class="col-7 f-toolbar"
        [datas]="toolbarData"
        (rtClickEvent)="responseToolbarClick($event)"
      ></f-response-toolbar>
    </nav>
    <!--扩展页面Header区域-->
    <div class="f-page-header-extend f-page-header-el-mx f-page-header-el-mb">
      <div class="f-utils-flex-row no-gutters">
        <div class="col-8 align-self-center">
          <div class="f-cmp-process  f-cmp-process-fill f-cmp-process-large">
            <div class="f-cmp-process-step f-cmp-process-step-done">
              <span class="f-cmp-process-icon">
                <i class="f-icon-md">done</i>
                <i class="f-text">1</i>
              </span>
              <span class="f-cmp-process-text">
                发货计划
              </span>
              <span class="f-cmp-process-next">
                <i class="f-icon-md">chevron_right</i>
              </span>
            </div>
            <div class="f-cmp-process-step  f-cmp-process-step-done">
              <span class="f-cmp-process-icon">
                <i class="f-icon-md">done</i>
                <i class="f-text">2</i>
              </span>
              <span class="f-cmp-process-text">
                出库
              </span>
              <span class="f-cmp-process-next">
                <i class="f-icon-md">chevron_right</i>
              </span>
            </div>
            <div class="f-cmp-process-step  f-cmp-process-step-done">
              <span class="f-cmp-process-icon">
                <i class="f-icon-md">done</i>
                <i class="f-text">3</i>
              </span>
              <span class="f-cmp-process-text">
                运输
              </span>
              <span class="f-cmp-process-next">
                <i class="f-icon-md">chevron_right</i>
              </span>
            </div>
            <div class="f-cmp-process-step">
              <span class="f-cmp-process-icon">
                <i class="f-icon-md">done</i>
                <i class="f-text">4</i>
              </span>
              <span class="f-cmp-process-text">结算</span>
              <span class="f-cmp-process-next">
                <i class="f-icon-md">chevron_right</i>
              </span>
            </div>
            <div class="f-cmp-process-step">
              <span class="f-cmp-process-icon">
                <i class="f-icon-md">done</i>
                <i class="f-text">5</i>
              </span>
              <span class="f-cmp-process-text">收款</span>
              <span class="f-cmp-process-next">
                <i class="f-icon-md">chevron_right</i>
              </span>
            </div>
            <div class="f-cmp-process-step">
              <span class="f-cmp-process-icon">
                <i class="f-icon-md">done</i>
                <i class="f-text">6</i>
              </span>
              <span class="f-cmp-process-text">开票</span>
              <span class="f-cmp-process-next">
                <i class="f-icon-md">chevron_right</i>
              </span>
            </div>
          </div>
        </div>
        <div class="col text-right">
          <p class="h3 m-0 text-warning">3560</p>
          <p class="m-0 text-muted">销售总额(万元)</p>
        </div>
      </div>
    </div>
  </header>
  <section class="f-page-main">
    <!--扩展页面主内容区-->
    <div class="f-page-main-extend">
      <div class="text-center f-utils-flex-row">
        <h2 class="m-auto text-center">表单标题</h2>
        <div class="btn-group">
          <button class="btn btn-link">操作按钮</button
          ><button class="btn btn-link">操作按钮</button>
        </div>
      </div>
    </div>
    <!--表单区域-->
    <!--需要嵌套的层---------------------------IDE转化成组件----------->
    <div class="f-struct-wrapper">
      <farris-section
        class="f-section-form f-section-in-mainsubcard"
        [enableAccordion]="'default'"
        [mainTitle]="'整体収折'"
        [subTitle]="'侧标题占位'"
        [enableMaximize]="true"
      >
        <!--输入控件 没有分组-->
        <div
          class="f-form-layout farris-form farris-form-controls-inline"
          *ngIf="defaultData"
        >
          <fieldset class="f-section-formgroup">
            <div class="f-section-formgroup-inputs">
              <div class="col-12 col-md-6 col-xl-3 col-el-2">
                <div class="farris-group-wrap">
                  <div class="form-group farris-form-group">
                    <label class="col-form-label">
                      <span class="farris-label-info text-danger">*</span
                      ><span class="farris-label-text">单据编号</span>
                    </label>
                    <div class="farris-input-wrap">
                      <input
                        type="text"
                        class="form-control"
                        name="DJBH"
                        [(ngModel)]="defaultData.FKDD.data.DJBH"
                      />
                      <div class="farris-feedback valid-feedback"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3 col-el-2">
                <div class="farris-group-wrap">
                  <div class="form-group farris-form-group">
                    <label class="col-form-label">
                      <span class="farris-label-text">业务类型</span>
                    </label>
                    <div class="farris-input-wrap">
                      <!-- <kendo-dropdownlist
                        class="form-control"
                        [data]="listItemsDropDown"
                        [value]="'服务合同'"
                        [ngClass]="{ 'f-state-readonly': isViewState }"
                      >
                      </kendo-dropdownlist> -->
                      <farris-combo-list
                        [(ngModel)]="valObj.id"
                        [(selectedValues)]="valObj.text"
                        [idField]="'id'"
                        [textField]="'text'"
                        [data]="listItemsDropDown"
                      ></farris-combo-list>

                      <div class="farris-feedback valid-feedback"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3 col-el-2">
                <div class="farris-group-wrap">
                  <div class="form-group farris-form-group">
                    <label class="col-form-label">
                      <span class="farris-label-text">业务日期</span>
                    </label>
                    <div class="farris-input-wrap">
                      <farris-datepicker
                        class="form-control"
                      ></farris-datepicker>
                      <div class="farris-feedback valid-feedback"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3 col-el-2">
                <div class="farris-group-wrap">
                  <div class="form-group farris-form-group">
                    <label class="col-form-label">
                      <span class="farris-label-info text-danger">*</span
                      ><span class="farris-label-text">客户</span>
                    </label>
                    <div class="farris-input-wrap">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="defaultData.FKDD.data.KH"
                        name="kh"
                      />
                      <div class="farris-feedback valid-feedback"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3 col-el-2">
                <div class="farris-group-wrap">
                  <div class="form-group farris-form-group">
                    <label class="col-form-label">
                      <span class="farris-label-text">客户别名</span>
                    </label>
                    <div class="farris-input-wrap">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="defaultData.FKDD.data.KHBM"
                        name="khbm"
                      />
                      <div class="farris-feedback valid-feedback"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3 col-el-2">
                <div class="farris-group-wrap">
                  <div class="form-group farris-form-group">
                    <label class="col-form-label">
                      <span class="farris-label-text">客户采购单号</span>
                    </label>
                    <div class="farris-input-wrap">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="defaultData.FKDD.data.KHCGDH"
                        name="khcgdh"
                      />
                      <div class="farris-feedback valid-feedback"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3 col-el-2">
                <div class="farris-group-wrap">
                  <div class="form-group farris-form-group">
                    <label for="hpinput01" class="col-form-label">
                      <span class="farris-label-info text-danger">*</span
                      ><span class="farris-label-text">业务员</span>
                    </label>
                    <div class="farris-input-wrap">
                      <farris-lookup-grid
                        name="lxdh"
                        [(ngModel)]="lookupEmpee"
                        [uri]="'assets/data/empoyee.json'"
                        [singleSelect]="true"
                        [idField]="'Code'"
                        [pageSize]="20"
                        [pageIndex]="1"
                        [pagination]="true"
                        [textField]="'Name'"
                        [valueField]="'Code'"
                        [disabled]="isViewState"
                        [ngClass]="{ 'f-state-disabled': isViewState }"
                      ></farris-lookup-grid>
                      <div class="farris-feedback valid-feedback"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3 col-el-2">
                <div class="farris-group-wrap">
                  <div class="form-group farris-form-group">
                    <label class="col-form-label">
                      <span class="farris-label-info text-danger">*</span
                      ><span class="farris-label-text">客户</span>
                    </label>
                    <div class="farris-input-wrap">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="defaultData.FKDD.data.KH"
                        name="kh"
                      />
                      <div class="farris-feedback valid-feedback"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3 col-el-2">
                <div class="farris-group-wrap">
                  <div class="form-group farris-form-group">
                    <label class="col-form-label">
                      <span class="farris-label-text">客户别名</span>
                    </label>
                    <div class="farris-input-wrap">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="defaultData.FKDD.data.KHBM"
                        name="khbm"
                      />
                      <div class="farris-feedback valid-feedback"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3 col-el-2">
                <div class="farris-group-wrap">
                  <div class="form-group farris-form-group">
                    <label class="col-form-label">
                      <span class="farris-label-text">客户采购单号</span>
                    </label>
                    <div class="farris-input-wrap">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="defaultData.FKDD.data.KHCGDH"
                        name="khcgdh"
                      />
                      <div class="farris-feedback valid-feedback"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3 col-el-2">
                <div class="farris-group-wrap">
                  <div class="form-group farris-form-group">
                    <label for="hpinput01" class="col-form-label">
                      <span class="farris-label-info text-danger">*</span
                      ><span class="farris-label-text">业务员</span>
                    </label>
                    <div class="farris-input-wrap">
                      <farris-lookup-grid
                        name="lxdh"
                        [(ngModel)]="lookupEmpee"
                        [uri]="'assets/data/empoyee.json'"
                        [singleSelect]="true"
                        [idField]="'Code'"
                        [pageSize]="20"
                        [pageIndex]="1"
                        [pagination]="true"
                        [textField]="'Name'"
                        [valueField]="'Code'"
                        [disabled]="isViewState"
                        [ngClass]="{ 'f-state-disabled': isViewState }"
                      ></farris-lookup-grid>
                      <div class="farris-feedback valid-feedback"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </farris-section>
    </div>
    <!--表格区域-->
    <!--需要嵌套的层---------------------------IDE转化成组件----------->
    <div class="f-struct-wrapper">
      <farris-section class="f-section-grid f-section-in-mainsubcard">
        <ng-template farrisSectionTitle>
          <h4 class="f-title-text">销售订单列表</h4>
          <div class="f-title-subtitle">(20)</div>
        </ng-template>
        <div class=" f-grid-is-sub">
          <farris-datagrid
            class="f-component-grid"
            [columns]="columns"
            [data]="orderListData"
            #dg="datagrid"
            [idField]="'DDBH'"
            [showLineNumber]="true"
            [fitColumns]="false"
            [total]="total"
            [striped]="false"
            [showCheckbox]="false"
            [virtualized]="true"
            [pagination]="false"
            [fit]="true"
          >
            <ng-template #cell1 let-ctx>
              <button class="btn btn-secondary">操作</button>
            </ng-template>
            <ng-template #cell2 let-ctx>
              <div class="text-center">
                <span class="f-icon f-icon-flag_urgent text-warning"></span>
              </div>
            </ng-template>
            <ng-template #cell3 let-ctx>
              <span class="f-pretend-link mr-2">{{ ctx.rowData['DDBH'] }}</span>
              <span [class]="getBadgeCls(ctx.rowIndex)">通过</span>
            </ng-template>
          </farris-datagrid>
        </div>
      </farris-section>
    </div>
  </section>
  <footer class="f-page-footer">
    Page-尾部区域
  </footer>
  <!-- <aside class="f-page-aside">
          辅助信息
        </aside> -->
</div>
