<!--页面模板  是卡片类页面-->
<div class="f-page f-page-card">
  <div class="f-page-headerextend">
    Page——扩展区域
  </div>
  <header class="f-page-header">
    <div class="f-page-header-base">
      <div class="f-title">
        Header-标题区域
      </div>
      <div class="f-content">
        Header-中间区域
      </div>
      <div class="col-6 f-toolbar">
        Header-工具条区域
      </div>
    </div>
    <div class="f-page-header-extend">
      Header-扩展区域
    </div>
  </header>
  <section class="f-page-main">
    <div class="f-page-main-extend">
      Main——扩展区域
    </div>
    <!--表单区域-->
    <div class="f-section f-section-form">
      <div class="f-section-header">
        <div class="f-title">
          Form-Header-标题区域
        </div>
        <div class="f-content">
          Form-Header-中间区域
        </div>
        <div class="f-toolbar">
          Form-Header-工具条区域
        </div>
      </div>
      <div class="f-section-extend">
        Form-Header-扩展区域
      </div>
      <div class="farris-form">
        <!--此处已经涉及到布局-->
        <fieldset class="f-section-formgroup">
          <legend class="f-section-formgroup-legend">
            <div class="f-title">表单分组-主标题区</div>
            <div class="f-content">表单分组-中间区域</div>
            <div class="f-toolbar">表单分组-工具条区域</div>
          </legend>
          <div class="f-section-formgroup-inputs">
            输入控件布局区
          </div>
        </fieldset>
        <fieldset class="f-section-formgroup">
          <legend class="f-section-formgroup-legend">
            <div class="f-title">表单分组-主标题区</div>
            <div class="f-content">表单分组-中间区域</div>
            <div class="col-6 f-toolbar">表单分组-工具条区域</div>
          </legend>
          <div class="f-section-formgroup-inputs">
            输入控件布局区
          </div>
        </fieldset>
      </div>
    </div>
    <!--标签页区域-->
    <div class="f-section f-section-tabs">
      <div class="f-section-header">
        <div class="f-section-header-bar">
          <div class="f-title">
            Form-Header-标题区域
          </div>
          <div class="f-content">
            Form-Header-中间区域
          </div>
          <div class="f-toolbar">
            Form-Header-工具条区域
          </div>
        </div>
        <div class="f-section-header-extend">
          Form-Header-扩展区域
        </div>
      </div>
      <div class="f-component-tabs">
        标签页
      </div>
    </div>
  </section>
  <footer class="f-page-footer">
    Page-尾部区域
  </footer>
  <!-- <aside class="f-page-aside">
      辅助信息
    </aside> -->
</div>
